Repository microsoft/mlops-promptflow-prompt: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/basic_flows_ci.yml, .azure-pipelines/build_devops_image.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

.azure-pipelines/basic_flows_ci.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: deploy_prompts
    displayName: Deploy Promptflow Basic Flows as Azure Functions
    jobs:
    - job: deploy_flow
      steps:
      - template: templates/configure_devops_agent.yml
      - task: CopyFiles@2
        inputs:
  ...

.azure-pipelines/build_devops_image.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: ./templates/build_and_push_devopsimage.yml
    parameters:
      acr_registry_connection: null
      devops_container_image: $(devops_container_image)
      dockerfile: ${{parameters.dockerfile}}
      image_name: ${{parameters.image_name}}

.azure-pipelines/ci_to_development.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: UsePythonVersion@0
    displayName: Setting Python version to 3.9 as required by functions
    inputs:
      versionSpec: '3.9'
      architecture: x64

.azure-pipelines/class_basic_flow_ci.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: ./platform_ci_dev_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
      model_type: ${{ parameters.model_type }}

.azure-pipelines/class_basic_flow_pr.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: ./templates/platform_pr_dev_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
      model_type: ${{ parameters.model_type }}
      acr_connection: $(dockerRegistryServiceConnection)
  ...

.azure-pipelines/function_basic_flow_pr.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: ./templates/platform_pr_dev_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
      model_type: ${{ parameters.model_type }}

.azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: ./templates/variables_template.yml
    parameters:
      env_name: ${{parameters.env_name}}
      model_type: ${{parameters.model_type}}
  - template: ./platform_ci_dev_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
  ...

.azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: ../templates/variables_template.yml
    parameters:
      env_name: ${{parameters.env_name}}
      model_type: ${{parameters.model_type}}
  - template: ./platform_pr_dev_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
  ...

.azure-pipelines/pr_to_development.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: build
    displayName: build_validation
    jobs:
    - template: build_validation_pipeline.yml
  - stage: execute
    displayName: execute_prompt_evaluation
    jobs:
    - job: execute_summarize_evaluation
      steps:
  ...

fixing linting issues
  mlops/run_yaml_basic_flow_azure.py
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

add telemtry for az functions
  flows/class_basic_flow/standard/extract_entities.py
  src/basic_func_impl/class_basic_invoke/__init__.py
  src/basic_func_impl/class_basic_invoke/function.json
  src/basic_func_impl/function_app.py
  src/basic_func_impl/function_basic_invoke/__init__.py
  src/basic_func_impl/function_basic_invoke/function.json
  src/basic_func_impl/host.json
  src/basic_func_impl/requirements.txt
  src/basic_func_impl/yaml_basic_invoke/__init__.py
  src/basic_func_impl/yaml_basic_invoke/function.json
Due: .azure-pipelines/basic_flows_ci.yml, .azure-pipelines/build_devops_image.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

lint
  flows/class_basic_flow/standard/extract_entities.py
  src/basic_func_impl/class_basic_invoke/__init__.py
  src/basic_func_impl/function_app.py
  src/basic_func_impl/function_basic_invoke/__init__.py
Due: .azure-pipelines/basic_flows_ci.yml, .azure-pipelines/build_devops_image.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

update logging
  src/basic_func_impl/class_basic_invoke/__init__.py
  src/basic_func_impl/function_app.py
  src/basic_func_impl/yaml_basic_invoke/__init__.py
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/yaml_basic_flow_pr.yml

lint
  src/basic_func_impl/function_app.py
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/yaml_basic_flow_pr.yml

updates for datasets
  config/config.yaml
  flows/class_basic_flow/evaluate/evaluate.py
  flows/function_basic_flow/evaluate/evaluate.py
  flows/plan_and_execute/evaluate/evaluate.py
  flows/yaml_basic_flow/evaluate/evaluate.py
  mlops/common/config_utils.py
  mlops/common/register_data_assets.py
  mlops/run_class_basic_flow.py
  mlops/run_function_basic_flow.py
  mlops/run_plan_and_execute.py
  mlops/run_yaml_basic_flow.py
  mlops/run_yaml_basic_flow_azure.py
Due: .azure-pipelines/basic_flows_ci.yml, .azure-pipelines/build_devops_image.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

Fix flake issues
  flows/chat_with_pdf/evaluate/evaluate.py
  mlops/common/config_utils.py
  mlops/common/register_data_assets.py
  mlops/run_class_basic_flow.py
  mlops/run_yaml_basic_flow_azure.py
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

fix indent for json path
  config/config.yaml
Due: none

linted the chat_with_pdf example
  flows/chat_with_pdf/standard/chat_with_pdf/build_index.py
  flows/chat_with_pdf/standard/chat_with_pdf/constants.py
  flows/chat_with_pdf/standard/chat_with_pdf/download.py
  flows/chat_with_pdf/standard/chat_with_pdf/find_context.py
  flows/chat_with_pdf/standard/chat_with_pdf/main.py
  flows/chat_with_pdf/standard/chat_with_pdf/qna.py
  flows/chat_with_pdf/standard/chat_with_pdf/rewrite_question.py
  flows/chat_with_pdf/standard/chat_with_pdf/utils/index.py
  flows/chat_with_pdf/standard/chat_with_pdf/utils/lock.py
  flows/chat_with_pdf/standard/chat_with_pdf/utils/logging.py
  flows/chat_with_pdf/standard/chat_with_pdf/utils/oai.py
  flows/chat_with_pdf/standard/chat_with_pdf/utils/retry.py
  setup.cfg
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/pr_to_development.yml

udated for review comments
  config/config.yaml
  config/data_config.json
  config/data_config.yaml
  flows/chat_with_pdf/evaluate/evaluate.py
  flows/class_basic_flow/evaluate/evaluate.py
  flows/plan_and_execute/evaluate/evaluate.py
  flows/yaml_basic_flow/evaluate/evaluate.py
  mlops/common/config_utils.py
  mlops/common/register_data_assets.py
  mlops/run_class_basic_flow.py
  mlops/run_function_basic_flow.py
  mlops/run_plan_and_execute.py
  mlops/run_yaml_basic_flow_azure.py
Due: .azure-pipelines/basic_flows_ci.yml, .azure-pipelines/build_devops_image.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

fix openai instrumentation version
  src/basic_func_impl/requirements.txt
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/yaml_basic_flow_pr.yml

keep changes min
  config/config.yaml
  flows/function_basic_flow/evaluate/evaluate.py
  flows/plan_and_execute/evaluate/evaluate.py
  mlops/run_yaml_basic_flow.py
  mlops/run_yaml_basic_flow_azure.py
Due: .azure-pipelines/basic_flows_ci.yml, .azure-pipelines/build_devops_image.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

update comment
  src/basic_func_impl/requirements.txt
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/yaml_basic_flow_pr.yml

reset the file changes
  mlops/run_yaml_basic_flow_azure.py
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

bug in te policy
  .github/workflows/basic_flow_ci.yml
Due: none

fix flake issues
  mlops/common/config_utils.py
  mlops/common/register_data_assets.py
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

fix the tab
  config/config.yaml
Due: none

added class implementation and evaluation for plan_and_execute
  config/config.yaml
  flows/class_plan_and_execute/evaluate/evaluate.py
  flows/class_plan_and_execute/evaluate/plan_and_execute_json_schema.json
  flows/class_plan_and_execute/requirements.txt
  flows/class_plan_and_execute/standard/executor.py
  flows/class_plan_and_execute/standard/flow.flex.yaml
  flows/class_plan_and_execute/standard/multiprocressed_agents.py
  flows/class_plan_and_execute/standard/plan_and_execute.py
  flows/class_plan_and_execute/standard/planner.py
  flows/class_plan_and_execute/standard/planner_system_message.txt
  flows/class_plan_and_execute/standard/solver.py
  flows/class_plan_and_execute/standard/solver_system_message.txt
  flows/class_plan_and_execute/standard/tools.py
  flows/yaml_plan_and_execute/evaluate/evaluate.py
  flows/yaml_plan_and_execute/evaluate/flow_wrapper.py
  flows/yaml_plan_and_execute/evaluate/plan_and_execute_json_schema.json
  flows/yaml_plan_and_execute/requirements.txt
  flows/yaml_plan_and_execute/standard/connection_utils.py
  flows/yaml_plan_and_execute/standard/docker/dockerfile
  flows/yaml_plan_and_execute/standard/executor.py
  flows/yaml_plan_and_execute/standard/flow.dag.yaml
  flows/yaml_plan_and_execute/standard/planner.py
  flows/yaml_plan_and_execute/standard/planner_system_prompt.jinja2
  flows/yaml_plan_and_execute/standard/requirements.txt
  flows/yaml_plan_and_execute/standard/solver.py
  flows/yaml_plan_and_execute/standard/solver_system_prompt.jinja2
  flows/yaml_plan_and_execute/standard/tools.py
  mlops/run_class_plan_and_execute.py
  mlops/run_yaml_plan_and_execute.py
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

yanl route fix
  src/basic_func_impl/yaml_basic_invoke/__init__.py
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/yaml_basic_flow_pr.yml

update function name
  src/basic_func_impl/class_basic_invoke/__init__.py
  src/basic_func_impl/function_basic_invoke/__init__.py
  src/basic_func_impl/yaml_basic_invoke/__init__.py
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/yaml_basic_flow_pr.yml

restoring yaml_plan_and_execute folder as plan_and_execute
  config/config.yaml
  flows/plan_and_execute/evaluate/evaluate.py
  flows/plan_and_execute/evaluate/flow_wrapper.py
  flows/plan_and_execute/evaluate/plan_and_execute_json_schema.json
  flows/plan_and_execute/requirements.txt
  flows/plan_and_execute/standard/connection_utils.py
  flows/plan_and_execute/standard/docker/dockerfile
  flows/plan_and_execute/standard/executor.py
  flows/plan_and_execute/standard/flow.dag.yaml
  flows/plan_and_execute/standard/planner.py
  flows/plan_and_execute/standard/planner_system_prompt.jinja2
  flows/plan_and_execute/standard/requirements.txt
  flows/plan_and_execute/standard/solver.py
  flows/plan_and_execute/standard/solver_system_prompt.jinja2
  flows/plan_and_execute/standard/tools.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/pr_to_development.yml

fixed import in evaluate.py
  flows/plan_and_execute/evaluate/evaluate.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/pr_to_development.yml

fixed flow_name in evaluate.py
  flows/plan_and_execute/evaluate/evaluate.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/pr_to_development.yml

fix for pr
  flows/chat_with_pdf/standard/chat_with_pdf/utils/oai.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/pr_to_development.yml

duplicate remove
  flows/chat_with_pdf/standard/chat_with_pdf/utils/oai.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/pr_to_development.yml

cloud execution for class and functions
  .amlignore
  config/config.yaml
  flows/class_basic_flow/evaluate/evaluate.py
  flows/class_basic_flow/standard/entity_template.prompty
  flows/class_basic_flow/standard/extract_entities.py
  flows/class_basic_flow/standard/flow.flex.yaml
  flows/class_basic_flow/standard/requirements.txt
  flows/function_basic_flow/standard/flow.flex.yaml
  flows/function_basic_flow/standard/requirements.txt
  flows/yaml_basic_flow/standard/requirements.txt
  mlops/run_class_basic_flow.py
  mlops/run_class_basic_flow_azure.py
  mlops/run_function_basic_flow.py
  mlops/run_function_basic_flow_azure.py
Due: .azure-pipelines/basic_flows_ci.yml, .azure-pipelines/build_devops_image.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

update for review comments
  mlops/common/register_data_assets.py
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

remove check method
  mlops/common/register_data_assets.py
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

update for lint issues
  mlops/common/register_data_assets.py
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

added run-aks-deployment job
  .github/workflows/basic_flow_ci.yml
Due: none

small fix added connection_name to config.yaml
  config/config.yaml
Due: none

test
  .github/workflows/basic_flow_ci.yml
Due: none

bug fix config yaml_basic_flow_dev connection_name aoai
  config/config.yaml
Due: none

fixing AKS step with az login acr
  .github/workflows/basic_flow_ci.yml
Due: none

updated run-aks-deployment
  .github/workflows/basic_flow_ci.yml
Due: none

test run-aks-deployment
  .github/workflows/basic_flow_ci.yml
Due: none

azure function fix
  src/basic_func_impl/class_basic_invoke/__init__.py
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/yaml_basic_flow_pr.yml

added fastapi
  .devcontainer/Dockerfile
  .github/workflows/basic_flow_ci.yml
  app/main.py
  requirements.txt
Due: none

Updated Execute Deployment to Azure Kubernetes
  .github/workflows/basic_flow_ci.yml
Due: none

Added Authentication for AKS
  .github/workflows/basic_flow_ci.yml
Due: none

Path conditions:
  .azure-pipelines/basic_flows_ci.yml: any of: .azure-pipelines/basic_flows_ci.yml, flows/function_basic_flow, flows/class_basic_flow, flows/yaml_basic_flow, src/basic_func_imple
  .azure-pipelines/build_devops_image.yml: any of: .azure-pipelines, mlops/common, mlops, flows/class_basic_flow, src, tests
  .azure-pipelines/ci_to_development.yml: any of: flows, mlops, .azure-pipelines
  .azure-pipelines/class_basic_flow_ci.yml: any of: .azure-pipelines, mlops/common, mlops, flows/class_basic_flow, src, tests
  .azure-pipelines/class_basic_flow_pr.yml: any of: .azure-pipelines, mlops/common, mlops, flows/class_basic_flow, src, tests
  .azure-pipelines/function_basic_flow_pr.yml: any of: .azure-pipelines, mlops/common, mlops, flows/function_basic_flow, src, tests
  .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops, flows/named_entity_recognition, tests
  .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/named_entity_recognition, flows/named_entity_recognition, model/named_entity_recognition
  .azure-pipelines/pr_to_development.yml: any of: flows, mlops, .azure-pipelines
  .azure-pipelines/yaml_basic_flow_pr.yml: any of: .azure-pipelines, mlops/common, mlops, flows/yaml_basic_flow, src, tests
