Repository microsoft/mlops-promptflow-prompt: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/basic_flows_ci.yml, .azure-pipelines/build_devops_image.yml, .azure-pipelines/chat_with_pdf_ci.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/infra_bicep.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

.azure-pipelines/basic_flows_ci.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: evaluation
    displayName: Evaluate Basic PF Flow
    jobs:
    - job: Execute_pf_Pipeline
      displayName: Execute Evaluation
      steps:
      - template: templates/configure_devops_agent.yml
      - task: AzureCLI@2
  ...

.azure-pipelines/build_devops_image.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: ./templates/build_and_push_devopsimage.yml
    parameters:
      acr_registry_connection: null
      devops_container_image: $(devops_container_image)
      dockerfile: ${{parameters.dockerfile}}
      image_name: ${{parameters.image_name}}

.azure-pipelines/chat_with_pdf_ci.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: evaluation
    displayName: Evaluate Chat With PDF PF Flow
    jobs:
    - job: Execute_pf_Pipeline
      displayName: Execute Evaluation
      steps:
      - template: templates/configure_devops_agent.yml
      - task: AzureCLI@2
  ...

.azure-pipelines/ci_to_development.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: UsePythonVersion@0
    displayName: Setting Python version to 3.9 as required by functions
    inputs:
      versionSpec: '3.9'
      architecture: x64

.azure-pipelines/class_basic_flow_ci.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: ./platform_ci_dev_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
      model_type: ${{ parameters.model_type }}

.azure-pipelines/class_basic_flow_pr.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: ./templates/platform_pr_dev_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
      model_type: ${{ parameters.model_type }}
      acr_connection: $(dockerRegistryServiceConnection)
  ...

.azure-pipelines/function_basic_flow_pr.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: ./templates/platform_pr_dev_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
      model_type: ${{ parameters.model_type }}

.azure-pipelines/infra_bicep.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: setup-azd@0
    displayName: Install azd
  - pwsh: 'azd config set auth.useAzCliAuth "true"
  
      '
    displayName: Configure AZD to Use AZ CLI Authentication.
  - task: AzureCLI@2
    displayName: Provision Infrastructure
    inputs:
  ...

.azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: ./templates/variables_template.yml
    parameters:
      env_name: ${{parameters.env_name}}
      model_type: ${{parameters.model_type}}
  - template: ./platform_ci_dev_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
  ...

added acr login
  .github/workflows/basic_flow_ci.yml
Due: none

testing federated login@v1 in job basic_flow_ci
  .github/workflows/basic_flow_ci.yml
Due: none

test basic_flow_ci with kubectl secrets acr
  .github/workflows/basic_flow_ci.yml
  src/basic_flow_fastapi_app/deployment.yaml
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/yaml_basic_flow_pr.yml

remove extra command test basic_flow_ci
  .github/workflows/basic_flow_ci.yml
Due: none

basic_flow_ci acr-secret added in basic_flow.yml anddeployment.yaml for container
  .github/workflows/basic_flow_ci.yml
  src/basic_flow_fastapi_app/deployment.yaml
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/yaml_basic_flow_pr.yml

basic_flow_ci
  .github/workflows/basic_flow_ci.yml
Due: none

fix acr step in basic_flow_ci
  .github/workflows/basic_flow_ci.yml
Due: none

fix acr container step
  .github/workflows/basic_flow_ci.yml
Due: none

fix image name deployment.yaml
  src/basic_flow_fastapi_app/deployment.yaml
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/yaml_basic_flow_pr.yml

clean-up
  .github/workflows/basic_flow_ci.yml
Due: none

added image_placeholder in basic_flow_ci and deployment.yaml
  .github/workflows/basic_flow_ci.yml
  src/basic_flow_fastapi_app/deployment.yaml
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/yaml_basic_flow_pr.yml

Added Documentation and clean-up
  .github/federated_credentials.md
  .github/workflows/basic_flow_ci.yml
  docs/images/aks_deployment_imagePullSecret.jpg
  docs/images/aks_deployment_serviceAccountClientID.jpg
  docs/images/aks_issuerUrl.png
  docs/images/app_registration.jpg
  docs/images/basic_flow_ci_az_login.jpg
  docs/images/basic_flow_ci_permissions.jpg
  docs/images/federated_credential_aks.jpg
  docs/images/federated_credential_pull_request.jpg
  docs/images/github_secrets_federated.jpg
  docs/images/issuerURL_aks.jpg
Due: none

removed clinet id from the deployment.yaml service section
  .github/federated_credentials.md
  src/basic_flow_fastapi_app/deployment.yaml
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/yaml_basic_flow_pr.yml

added annotated service account to basic_flow_ci.yaml
  .github/federated_credentials.md
  .github/workflows/basic_flow_ci.yml
  src/basic_flow_fastapi_app/deployment.yaml
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/yaml_basic_flow_pr.yml

fixed strage issues in chat_with_pdf
  flows/chat_with_pdf/standard/chat_with_pdf/download.py
  flows/chat_with_pdf/standard/setup_env.py
  src/chat_with_pdf_func_impl/requirements.txt
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/chat_with_pdf_ci.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

added streamlit app
  src/chat_with_pdf_func_impl/new_streamlit_app/requirements.txt
  src/chat_with_pdf_func_impl/new_streamlit_app/setup.sh
  src/chat_with_pdf_func_impl/new_streamlit_app/streamlit_app.py
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/chat_with_pdf_ci.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/yaml_basic_flow_pr.yml

update for rerun flows
  .azure-pipelines/templates/configure_devops_agent.yml
  .devcontainer/Dockerfile
  .github/actions/aml_real_deployment/action.yml
  .github/actions/configure_devops_agent/action.yml
  .github/workflows/basic_flow_ci.yml
  .github/workflows/build_validation_workflow.yml
  .github/workflows/chat_with_pdf_ci.yml
  .github/workflows/register_data_assets.yml
  conda_environment.md
  requirements.txt
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

fix subscription id
  .github/workflows/chat_with_pdf_pr.yml
  .github/workflows/class_basic_flow_pr.yml
  .github/workflows/function_basic_flow_pr.yml
  .github/workflows/platform_pr_dev_workflow.yml
  docs/federated_credentials.md
  docs/workflows.md
Due: none

deleted not needed actions
  .github/actions/configure_devops_agent/action.yml
  .github/actions/execute_shell_code/action.yml
  .github/workflows/basic_flow_ci.yml
  .github/workflows/chat_with_pdf_ci.yml
  .github/workflows/chat_with_pdf_pr.yml
  .github/workflows/class_basic_flow_pr.yml
  .github/workflows/function_basic_flow_pr.yml
  .github/workflows/plan_and_execute_pr.yml
  .github/workflows/platform_pr_dev_workflow.yml
  .github/workflows/register_data_assets.yml
  .github/workflows/yaml_basic_flow_pr.yml
  config/config.yaml
Due: none

adding a container pipeline
  .buildcontainer/Dockerfile
  .github/workflows/build_devops_container.yml
Due: none

fix variable names
  .github/workflows/build_devops_container.yml
Due: none

containers
  .devcontainer/Dockerfile
  .github/workflows/basic_flow_ci.yml
  .github/workflows/build_validation_workflow.yml
  .github/workflows/chat_with_pdf_ci.yml
  .github/workflows/chat_with_pdf_pr.yml
  .github/workflows/class_basic_flow_pr.yml
  .github/workflows/function_basic_flow_pr.yml
  .github/workflows/plan_and_execute_pr.yml
  .github/workflows/platform_pr_dev_workflow.yml
  .github/workflows/register_data_assets.yml
  .github/workflows/yaml_basic_flow_pr.yml
Due: none

fix an issue with label
  .github/workflows/plan_and_execute_pr.yml
Due: none

Path conditions:
  .azure-pipelines/basic_flows_ci.yml: any of: .azure-pipelines/basic_flows_ci.yml, flows/function_basic_flow, flows/class_basic_flow, flows/yaml_basic_flow, src/basic_func_impl
  .azure-pipelines/build_devops_image.yml: any of: .azure-pipelines, mlops/common, mlops, flows/class_basic_flow, src, tests
  .azure-pipelines/chat_with_pdf_ci.yml: any of: .azure-pipelines/chat_with_pdf_ci.yml, flows/chat_with_pdf, src/chat_with_pdf_func_impl
  .azure-pipelines/ci_to_development.yml: any of: flows, mlops, .azure-pipelines
  .azure-pipelines/class_basic_flow_ci.yml: any of: .azure-pipelines, mlops/common, mlops, flows/class_basic_flow, src, tests
  .azure-pipelines/class_basic_flow_pr.yml: any of: .azure-pipelines, mlops/common, mlops, flows/class_basic_flow, src, tests
  .azure-pipelines/function_basic_flow_pr.yml: any of: .azure-pipelines, mlops/common, mlops, flows/function_basic_flow, src, tests
  .azure-pipelines/infra_bicep.yml: any of: infra
  .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops, flows/named_entity_recognition, tests
  .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/named_entity_recognition, flows/named_entity_recognition, model/named_entity_recognition
  .azure-pipelines/plan_and_execute_pr.yml: any of: .azure-pipelines, mlops/common, mlops, flows/plan_and_execute, src, tests
  .azure-pipelines/pr_to_development.yml: any of: flows, mlops, .azure-pipelines
  .azure-pipelines/yaml_basic_flow_pr.yml: any of: .azure-pipelines, mlops/common, mlops, flows/yaml_basic_flow, src, tests
