Repository microsoft/mlops-promptflow-prompt: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/basic_flows_ci.yml, .azure-pipelines/build_devops_image.yml, .azure-pipelines/chat_with_pdf_ci.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

.azure-pipelines/basic_flows_ci.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: deploy_prompts
    displayName: Deploy Promptflow Basic Flows as Azure Functions
    jobs:
    - job: deploy_flow
      steps:
      - template: templates/configure_devops_agent.yml
      - task: CopyFiles@2
        inputs:
  ...

.azure-pipelines/build_devops_image.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: ./templates/build_and_push_devopsimage.yml
    parameters:
      acr_registry_connection: null
      devops_container_image: $(devops_container_image)
      dockerfile: ${{parameters.dockerfile}}
      image_name: ${{parameters.image_name}}

.azure-pipelines/chat_with_pdf_ci.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: evaluation
    displayName: Evaluate Chat With PDF PF Flow
    jobs:
    - job: Execute_pf_Pipeline
      displayName: Execute Evaluation
      steps:
      - template: templates/configure_devops_agent.yml
      - task: AzureCLI@2
  ...

.azure-pipelines/ci_to_development.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: UsePythonVersion@0
    displayName: Setting Python version to 3.9 as required by functions
    inputs:
      versionSpec: '3.9'
      architecture: x64

.azure-pipelines/class_basic_flow_ci.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: ./platform_ci_dev_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
      model_type: ${{ parameters.model_type }}

.azure-pipelines/class_basic_flow_pr.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: ./templates/platform_pr_dev_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
      model_type: ${{ parameters.model_type }}
      acr_connection: $(dockerRegistryServiceConnection)
  ...

.azure-pipelines/function_basic_flow_pr.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: ./templates/platform_pr_dev_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
      model_type: ${{ parameters.model_type }}

.azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: ./templates/variables_template.yml
    parameters:
      env_name: ${{parameters.env_name}}
      model_type: ${{parameters.model_type}}
  - template: ./platform_ci_dev_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
  ...

.azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: ../templates/variables_template.yml
    parameters:
      env_name: ${{parameters.env_name}}
      model_type: ${{parameters.model_type}}
  - template: ./platform_pr_dev_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
  ...

force update with test.txt
  .github/workflows/deploy_teams.yml
  samples/teamsdep/test.txt
Due: none

fix logger
  src/basic_func_impl/function_app.py
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/yaml_basic_flow_pr.yml

fix paths
  src/basic_func_impl/class_basic_invoke_flow_code/__init__.py
  src/basic_func_impl/function_basic_invoke_flow_code/__init__.py
  src/basic_func_impl/yaml_basic_invoke_flow_code/__init__.py
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/yaml_basic_flow_pr.yml

fix portal functions
  .github/workflows/basic_flow_ci.yml
  src/basic_func_impl/class_basic_invoke/__init__.py
  src/basic_func_impl/function_app.py
  src/basic_func_impl/function_basic_invoke/__init__.py
  src/basic_func_impl/yaml_basic_invoke/__init__.py
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/yaml_basic_flow_pr.yml

folder fix and devops update
  .azure-pipelines/basic_flows_ci.yml
  .github/workflows/basic_flow_ci.yml
  src/basic_func_impl/class_basic_invoke/function.py
  src/basic_func_impl/function_app.py
  src/basic_func_impl/function_basic_invoke/function.py
  src/basic_func_impl/yaml_basic_invoke/function.py
Due: .azure-pipelines/basic_flows_ci.yml, .azure-pipelines/build_devops_image.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

fix flow path
  src/basic_func_impl/yaml_basic_invoke/__init__.py
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/yaml_basic_flow_pr.yml

trying another folder name
  .azure-pipelines/basic_flows_ci.yml
  .github/workflows/basic_flow_ci.yml
  src/basic_func_impl/class_basic_invoke_code/function.py
  src/basic_func_impl/function_app.py
  src/basic_func_impl/function_basic_invoke_code/function.py
  src/basic_func_impl/yaml_basic_invoke_code/function.py
Due: .azure-pipelines/basic_flows_ci.yml, .azure-pipelines/build_devops_image.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

traces for chat with pdf and aks deployment for devops
  .azure-pipelines/basic_flows_ci.yml
  src/chat_with_pdf_func_impl/function_app.py
Due: .azure-pipelines/basic_flows_ci.yml, .azure-pipelines/build_devops_image.yml, .azure-pipelines/chat_with_pdf_ci.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

update docker deployment
  .azure-pipelines/basic_flows_ci.yml
Due: .azure-pipelines/basic_flows_ci.yml, .azure-pipelines/build_devops_image.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

fix connection
  .azure-pipelines/basic_flows_ci.yml
Due: .azure-pipelines/basic_flows_ci.yml, .azure-pipelines/build_devops_image.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

repository name fix
  .azure-pipelines/basic_flows_ci.yml
Due: .azure-pipelines/basic_flows_ci.yml, .azure-pipelines/build_devops_image.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

fix paths
  .azure-pipelines/basic_flows_ci.yml
  src/basic_flow_fastapi_app/Dockerfile
Due: .azure-pipelines/basic_flows_ci.yml, .azure-pipelines/build_devops_image.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

trying absolut path
  .azure-pipelines/basic_flows_ci.yml
  mlops/run_chat_with_pdf_azure.py
  src/basic_flow_fastapi_app/Dockerfile
Due: .azure-pipelines/basic_flows_ci.yml, .azure-pipelines/build_devops_image.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

trying another location
  src/basic_flow_fastapi_app/Dockerfile
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/yaml_basic_flow_pr.yml

fix docker for both cases
  .azure-pipelines/basic_flows_ci.yml
  src/basic_flow_fastapi_app/Dockerfile
Due: .azure-pipelines/basic_flows_ci.yml, .azure-pipelines/build_devops_image.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

wrong name
  .azure-pipelines/basic_flows_ci.yml
Due: .azure-pipelines/basic_flows_ci.yml, .azure-pipelines/build_devops_image.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

add otel collector and auto instrumentation
  src/basic_flow_fastapi_app/Dockerfile
  src/basic_flow_fastapi_app/requirements.txt
  src/basic_flow_fastapi_app/run.sh
  src/otel_collector/otel-collector.yaml
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/yaml_basic_flow_pr.yml

add service version and instance id
  src/basic_flow_fastapi_app/run.sh
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/yaml_basic_flow_pr.yml

add otel collector ci
  .azure-pipelines/basic_flows_ci.yml
Due: .azure-pipelines/basic_flows_ci.yml, .azure-pipelines/build_devops_image.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

use secret for app insight conn string
  .azure-pipelines/basic_flows_ci.yml
  src/otel_collector/otel-collector.yaml
Due: .azure-pipelines/basic_flows_ci.yml, .azure-pipelines/build_devops_image.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

fix secret creation
  .azure-pipelines/basic_flows_ci.yml
Due: .azure-pipelines/basic_flows_ci.yml, .azure-pipelines/build_devops_image.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

fix secret ref
  src/otel_collector/otel-collector.yaml
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/yaml_basic_flow_pr.yml

typo
  src/otel_collector/otel-collector.yaml
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/yaml_basic_flow_pr.yml

trying durable func
  src/chat_with_pdf_func_impl/function_app.py
  src/chat_with_pdf_func_impl/requirements.txt
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/chat_with_pdf_ci.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/yaml_basic_flow_pr.yml

fix var
  src/basic_flow_fastapi_app/run.sh
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/yaml_basic_flow_pr.yml

Add prject
  infra/Readme.md
  infra/main.bicep
  infra/modules/ai-hub.bicep
Due: none

fix step name
  .azure-pipelines/basic_flows_ci.yml
Due: .azure-pipelines/basic_flows_ci.yml, .azure-pipelines/build_devops_image.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

fix otel deployment bugs
  .azure-pipelines/basic_flows_ci.yml
  src/basic_flow_fastapi_app/Dockerfile
  src/basic_flow_fastapi_app/run.sh
Due: .azure-pipelines/basic_flows_ci.yml, .azure-pipelines/build_devops_image.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

fix image pull policy
  src/basic_flow_fastapi_app/deployment.yaml
  src/basic_flow_fastapi_app/main.py
  src/basic_flow_fastapi_app/run.sh
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/yaml_basic_flow_pr.yml

use latest tag
  .azure-pipelines/basic_flows_ci.yml
Due: .azure-pipelines/basic_flows_ci.yml, .azure-pipelines/build_devops_image.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

chat_with_pdf runs in durable function
  src/chat_with_pdf_func_impl/function_app.py
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/chat_with_pdf_ci.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/yaml_basic_flow_pr.yml

draft for blob usage
  flows/chat_with_pdf/standard/chat_with_pdf/build_index.py
  flows/chat_with_pdf/standard/chat_with_pdf/constants.py
  flows/chat_with_pdf/standard/chat_with_pdf/download.py
  src/chat_with_pdf_func_impl/function_app.py
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/chat_with_pdf_ci.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

Add otel collector and auto instrumentation to fastapi in k8s for Github
  .github/workflows/basic_flow_ci.yml
Due: none

Add otel collector and auto instrumentation to fastapi in k8s for Github fixed namespace
  .github/workflows/basic_flow_ci.yml
Due: none

Add otel collector and auto instrumentation to fastapi in k8s for GitHub
  .github/workflows/basic_flow_ci.yml
Due: none

Add otel collector and auto instrumentation to fastapi in k8s for GitHub with secret check
  .github/workflows/basic_flow_ci.yml
Due: none

Add otel collector and auto instrumentation to fastapi in k8s for GitHub fixed secret
  .github/workflows/basic_flow_ci.yml
Due: none

Path conditions:
  .azure-pipelines/basic_flows_ci.yml: any of: .azure-pipelines/basic_flows_ci.yml, flows/function_basic_flow, flows/class_basic_flow, flows/yaml_basic_flow, src/basic_func_imple
  .azure-pipelines/build_devops_image.yml: any of: .azure-pipelines, mlops/common, mlops, flows/class_basic_flow, src, tests
  .azure-pipelines/chat_with_pdf_ci.yml: any of: .azure-pipelines/chat_with_pdf_ci.yml, flows/chat_with_pdf, src/chat_with_pdf_func_impl
  .azure-pipelines/ci_to_development.yml: any of: flows, mlops, .azure-pipelines
  .azure-pipelines/class_basic_flow_ci.yml: any of: .azure-pipelines, mlops/common, mlops, flows/class_basic_flow, src, tests
  .azure-pipelines/class_basic_flow_pr.yml: any of: .azure-pipelines, mlops/common, mlops, flows/class_basic_flow, src, tests
  .azure-pipelines/function_basic_flow_pr.yml: any of: .azure-pipelines, mlops/common, mlops, flows/function_basic_flow, src, tests
  .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops, flows/named_entity_recognition, tests
  .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/named_entity_recognition, flows/named_entity_recognition, model/named_entity_recognition
  .azure-pipelines/plan_and_execute_pr.yml: any of: .azure-pipelines, mlops/common, mlops, flows/plan_and_execute, src, tests
  .azure-pipelines/pr_to_development.yml: any of: flows, mlops, .azure-pipelines
  .azure-pipelines/yaml_basic_flow_pr.yml: any of: .azure-pipelines, mlops/common, mlops, flows/yaml_basic_flow, src, tests
