Repository microsoft/mlops-promptflow-prompt: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/basic_flows_ci.yml, .azure-pipelines/build_devops_image.yml, .azure-pipelines/chat_with_pdf_ci.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

Path conditions:
  .azure-pipelines/basic_flows_ci.yml: any of: .azure-pipelines/basic_flows_ci.yml, flows/function_basic_flow, flows/class_basic_flow, flows/yaml_basic_flow, src/basic_func_impl
  .azure-pipelines/build_devops_image.yml: any of: .azure-pipelines, mlops/common, mlops, flows/class_basic_flow, src, tests
  .azure-pipelines/chat_with_pdf_ci.yml: any of: .azure-pipelines/chat_with_pdf_ci.yml, flows/chat_with_pdf, src/chat_with_pdf_func_impl
  .azure-pipelines/ci_to_development.yml: any of: flows, mlops, .azure-pipelines
  .azure-pipelines/class_basic_flow_ci.yml: any of: .azure-pipelines, mlops/common, mlops, flows/class_basic_flow, src, tests
  .azure-pipelines/class_basic_flow_pr.yml: any of: .azure-pipelines, mlops/common, mlops, flows/class_basic_flow, src, tests
  .azure-pipelines/function_basic_flow_pr.yml: any of: .azure-pipelines, mlops/common, mlops, flows/function_basic_flow, src, tests
  .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops, flows/named_entity_recognition, tests
  .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/named_entity_recognition, flows/named_entity_recognition, model/named_entity_recognition
  .azure-pipelines/plan_and_execute_pr.yml: any of: .azure-pipelines, mlops/common, mlops, flows/plan_and_execute, src, tests
  .azure-pipelines/pr_to_development.yml: any of: flows, mlops, .azure-pipelines
  .azure-pipelines/yaml_basic_flow_pr.yml: any of: .azure-pipelines, mlops/common, mlops, flows/yaml_basic_flow, src, tests

Add otel collector and auto instrumentation to fastapi in k8s for GitHub
  .github/workflows/basic_flow_ci.yml
Due: none

Add otel collector and auto instrumentation to fastapi in k8s for GitHub with secret check
  .github/workflows/basic_flow_ci.yml
Due: none

Add otel collector and auto instrumentation to fastapi in k8s for Github fixed namespace
  .github/workflows/basic_flow_ci.yml
Due: none

Add otel collector and auto instrumentation to fastapi in k8s for Github
  .github/workflows/basic_flow_ci.yml
Due: none

Add otel collector and auto instrumentation to fastapi in k8s for GitHub fixed secret
  .github/workflows/basic_flow_ci.yml
Due: none

fix branch name
  .github/workflows/basic_flow_ci.yml
Due: none

fix spacing
  .github/workflows/basic_flow_ci.yml
Due: none

cloud traces and online endpoint script
  .amlignore
  .env.sample
  config/config.yaml
  flows/chat_with_pdf/evaluate/evaluate.py
  flows/class_basic_flow/evaluate/evaluate.py
  flows/class_basic_flow/standard/Dockerfile
  flows/class_plan_and_execute/evaluate/evaluate.py
  flows/function_basic_flow/evaluate/evaluate.py
  flows/function_basic_flow/standard/Dockerfile
  flows/plan_and_execute/evaluate/evaluate.py
  flows/yaml_basic_flow/evaluate/evaluate.py
  mlops/common/config_utils.py
  mlops/common/deployment/deploy_online_endpoint.py
  mlops/common/trace_destination.py
  mlops/deployment/__init__.py
  mlops/deployment/deploy_online_endpoint.py
  mlops/run_chat_with_pdf.py
  mlops/run_chat_with_pdf_azure.py
  mlops/run_class_basic_flow.py
  mlops/run_class_basic_flow_azure.py
  mlops/run_class_plan_and_execute.py
  mlops/run_function_basic_flow.py
  mlops/run_function_basic_flow_azure.py
  mlops/run_yaml_basic_flow.py
  mlops/run_yaml_basic_flow_azure.py
  mlops/run_yaml_plan_and_execute.py
Due: .azure-pipelines/basic_flows_ci.yml, .azure-pipelines/build_devops_image.yml, .azure-pipelines/chat_with_pdf_ci.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

added yaml_basic_flow_dev column_mapping
  config/config.yaml
Due: none

AzDO endpoint
  .azure-pipelines/basic_flows_ci.yml
Due: .azure-pipelines/basic_flows_ci.yml, .azure-pipelines/build_devops_image.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

fix AzDO issue
  .azure-pipelines/basic_flows_ci.yml
Due: .azure-pipelines/basic_flows_ci.yml, .azure-pipelines/build_devops_image.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

fix titles
  .azure-pipelines/basic_flows_ci.yml
Due: .azure-pipelines/basic_flows_ci.yml, .azure-pipelines/build_devops_image.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

github implementation
  .github/workflows/basic_flow_ci.yml
Due: none

updated run_yaml_basic_flow
  mlops/common/naming_tools.py
  mlops/run_function_basic_flow.py
  mlops/run_yaml_basic_flow.py
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

commas
  config/config.yaml
Due: none

added basic promptflow tracing
  flows/class_plan_and_execute/standard/executor.py
  flows/class_plan_and_execute/standard/plan_and_execute.py
  flows/class_plan_and_execute/standard/planner.py
  flows/class_plan_and_execute/standard/solver.py
  flows/class_plan_and_execute/standard/tools.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/pr_to_development.yml

initial readme
  README.md
  docs/images/azdo_variables.jpg
  docs/images/github_secrets.jpg
  docs/images/github_variables.jpg
Due: none

feedback
  README.md
Due: none

save index to blob storage
  flows/chat_with_pdf/standard/chat_with_pdf/build_index.py
  flows/chat_with_pdf/standard/chat_with_pdf/constants.py
  flows/chat_with_pdf/standard/chat_with_pdf/download.py
  flows/chat_with_pdf/standard/chat_with_pdf/find_context.py
  flows/chat_with_pdf/standard/chat_with_pdf/utils/create_container.py
  flows/chat_with_pdf/standard/chat_with_pdf/utils/index.py
  src/chat_with_pdf_func_impl/function_app.py
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/chat_with_pdf_ci.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

linting
  flows/chat_with_pdf/standard/chat_with_pdf/build_index.py
  flows/chat_with_pdf/standard/chat_with_pdf/download.py
  flows/chat_with_pdf/standard/chat_with_pdf/utils/create_container.py
  flows/chat_with_pdf/standard/chat_with_pdf/utils/index.py
  src/chat_with_pdf_func_impl/function_app.py
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/chat_with_pdf_ci.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

loggin utilities
  mlops/common/logging.py
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

updates
  infra/main.bicep
Due: none

naming_tools updated, run_yaml_basic_flow, run_funcrion_basic_flow
  mlops/common/naming_tools.py
  mlops/run_function_basic_flow.py
  mlops/run_yaml_basic_flow.py
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

fixing indent in basic_flow_ci.yml
  .github/workflows/basic_flow_ci.yml
Due: none

Updated standard flow for ChatWithPdf to remove wrapper
  mlops/run_chat_with_pdf.py
  mlops/run_chat_with_pdf_azure.py
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

remove unused reference
  mlops/run_chat_with_pdf.py
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

remove ai search provision
  azure.yaml
  infra/hooks/postprovision.sh
  infra/main.bicep
  infra/modules/ai-hub.bicep
  infra/modules/dependent-resources.bicep
Due: none

update
  infra/hooks/postprovision.sh
Due: none

remove extra file
  mlops/common/logging.py
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

Update teamsapp.yml to v1.4
  samples/teamsdep/teamsapp.yml
Due: none

force update
  samples/teamsdep/test.txt
Due: none

force update
  .github/workflows/deploy_teams.yml
  samples/teamsdep/test.txt
Due: none

force update
  .github/workflows/deploy_teams.yml
Due: none

Support for running Plan And Execute flows on Azure AI Studio
  config/config.yaml
  flows/class_plan_and_execute/__init__.py
  flows/class_plan_and_execute/standard/executor.py
  flows/class_plan_and_execute/standard/flow.flex.yaml
  flows/class_plan_and_execute/standard/plan_and_execute.py
  flows/class_plan_and_execute/standard/planner.py
  flows/class_plan_and_execute/standard/requirements.txt
  flows/class_plan_and_execute/standard/solver.py
  flows/class_plan_and_execute/standard/tools.py
  flows/plan_and_execute/__init__.py
  flows/plan_and_execute/evaluate/evaluate.py
  flows/plan_and_execute/standard/flow.dag.yaml
  mlops/run_class_plan_and_execute_azure.py
  mlops/run_yaml_plan_and_execute_azure.py
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

renamed flow folder for consistency
  config/config.yaml
  flows/class_plan_and_execute/standard/flow.flex.yaml
  flows/yaml_plan_and_execute/__init__.py
  flows/yaml_plan_and_execute/evaluate/evaluate.py
  flows/yaml_plan_and_execute/evaluate/flow_wrapper.py
  flows/yaml_plan_and_execute/evaluate/plan_and_execute_json_schema.json
  flows/yaml_plan_and_execute/requirements.txt
  flows/yaml_plan_and_execute/standard/connection_utils.py
  flows/yaml_plan_and_execute/standard/docker/dockerfile
  flows/yaml_plan_and_execute/standard/executor.py
  flows/yaml_plan_and_execute/standard/flow.dag.yaml
  flows/yaml_plan_and_execute/standard/planner.py
  flows/yaml_plan_and_execute/standard/planner_system_prompt.jinja2
  flows/yaml_plan_and_execute/standard/requirements.txt
  flows/yaml_plan_and_execute/standard/solver.py
  flows/yaml_plan_and_execute/standard/solver_system_prompt.jinja2
  flows/yaml_plan_and_execute/standard/tools.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/pr_to_development.yml

updated for lint
  flows/class_plan_and_execute/standard/executor.py
  flows/class_plan_and_execute/standard/plan_and_execute.py
  flows/class_plan_and_execute/standard/planner.py
  flows/class_plan_and_execute/standard/solver.py
  flows/class_plan_and_execute/standard/tools.py
  mlops/run_class_plan_and_execute_azure.py
  mlops/run_yaml_basic_flow.py
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml
