Repository microsoft/mlops-promptflow-prompt: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/basic_flows_ci.yml, .azure-pipelines/build_devops_image.yml, .azure-pipelines/chat_with_pdf_ci.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

Path conditions:
  .azure-pipelines/basic_flows_ci.yml: any of: .azure-pipelines/basic_flows_ci.yml, flows/function_basic_flow, flows/class_basic_flow, flows/yaml_basic_flow, src/basic_func_impl
  .azure-pipelines/build_devops_image.yml: any of: .azure-pipelines, mlops/common, mlops, flows/class_basic_flow, src, tests
  .azure-pipelines/chat_with_pdf_ci.yml: any of: .azure-pipelines/chat_with_pdf_ci.yml, flows/chat_with_pdf, src/chat_with_pdf_func_impl
  .azure-pipelines/ci_to_development.yml: any of: flows, mlops, .azure-pipelines
  .azure-pipelines/class_basic_flow_ci.yml: any of: .azure-pipelines, mlops/common, mlops, flows/class_basic_flow, src, tests
  .azure-pipelines/class_basic_flow_pr.yml: any of: .azure-pipelines, mlops/common, mlops, flows/class_basic_flow, src, tests
  .azure-pipelines/function_basic_flow_pr.yml: any of: .azure-pipelines, mlops/common, mlops, flows/function_basic_flow, src, tests
  .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops, flows/named_entity_recognition, tests
  .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/named_entity_recognition, flows/named_entity_recognition, model/named_entity_recognition
  .azure-pipelines/plan_and_execute_pr.yml: any of: .azure-pipelines, mlops/common, mlops, flows/plan_and_execute, src, tests
  .azure-pipelines/pr_to_development.yml: any of: flows, mlops, .azure-pipelines
  .azure-pipelines/yaml_basic_flow_pr.yml: any of: .azure-pipelines, mlops/common, mlops, flows/yaml_basic_flow, src, tests

updated ADO pipeline and GitHub workflow for yaml_plan_and_execute pr
  .azure-pipelines/yaml_plan_and_execute_pr.yml
  .github/workflows/yaml_plan_and_execute_pr.yml
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

ci pipeline documentation
  docs/ci_devops_pipeline_summary.md
Due: none

Added individual steps for AKS and OTel Collector
  docs/ci_devops_pipeline_summary.md
Due: none

bicep in modules
  .github/workflows/infra_bicep.yml
  infra/Readme.md
  infra/hooks/postprovision.sh
  infra/main.bicep
  infra/main.json
  infra/main.parameters.json
  infra/metadata.json
  infra/modules/dependent-resources.bicep
  infra/public_bicep/main.bicep
  infra/public_bicep/modules/ai-hub.bicep
  infra/public_bicep/modules/aiservice.template.bicep
  infra/public_bicep/modules/appinsights.template.bicep
  infra/public_bicep/modules/containerregistry.template.bicep
  infra/public_bicep/modules/keyvault.template.bicep
  infra/public_bicep/modules/storage.template.bicep
Due: none

add an environment
  .github/workflows/infra_bicep.yml
Due: none

trigger for the first time
  .github/workflows/infra_bicep.yml
Due: none

move environments
  .github/workflows/infra_bicep.yml
Due: none

remove tags
  infra/public_bicep/main.bicep
Due: none

fix ci
  .github/workflows/basic_flow_ci.yml
Due: none

removed tags from module
  infra/public_bicep/modules/ai-hub.bicep
Due: none

fix scope
  infra/public_bicep/main.bicep
  infra/public_bicep/modules/ai-hub.bicep
Due: none

switch to openai
  azure.yaml
  infra/public_bicep/modules/aiservice.template.bicep
Due: none

linting
  .github/workflows/infra_bicep.yml
  mlops/run_yaml_basic_flow.py
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

fix name
  .github/workflows/infra_bicep.yml
  infra/public_bicep/modules/aiservice.template.bicep
Due: none

custom domain
  infra/public_bicep/modules/aiservice.template.bicep
Due: none

fix naming
  infra/public_bicep/modules/aiservice.template.bicep
Due: none

fix issue with 1.13.0
  requirements.txt
Due: none

disable infra
  .github/workflows/infra_bicep.yml
Due: none

updated path
  flows/class_plan_and_execute/standard/executor.py
  flows/class_plan_and_execute/standard/plan_and_execute.py
  flows/class_plan_and_execute/standard/planner.py
  flows/class_plan_and_execute/standard/solver.py
  flows/class_plan_and_execute/standard/tools.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/pr_to_development.yml

adding status (that is not needed in fact)
  mlops/run_class_plan_and_execute_azure.py
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

added step image placeholder to basic_flow_ci.yml and fix deployment.yaml to use IMAGE_PLACEHOLDER
  .github/workflows/basic_flow_ci.yml
  src/basic_flow_fastapi_app/deployment.yaml
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/yaml_basic_flow_pr.yml

testing ci basic_flow
  .github/workflows/basic_flow_ci.yml
Due: none

testing deployment.yaml
  .github/workflows/basic_flow_ci.yml
  src/basic_flow_fastapi_app/deployment.yaml
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/yaml_basic_flow_pr.yml

added default autorization
  flows/chat_with_pdf/standard/chat_with_pdf/build_index.py
  flows/chat_with_pdf/standard/chat_with_pdf/constants.py
Due: .azure-pipelines/chat_with_pdf_ci.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/pr_to_development.yml

use DefaultAzureCredential for aouthentication ot storage account
  flows/chat_with_pdf/standard/chat_with_pdf/build_index.py
  flows/chat_with_pdf/standard/chat_with_pdf/constants.py
  flows/chat_with_pdf/standard/chat_with_pdf/download.py
  flows/chat_with_pdf/standard/chat_with_pdf/utils/create_container.py
  flows/chat_with_pdf/standard/chat_with_pdf/utils/index.py
Due: .azure-pipelines/chat_with_pdf_ci.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/pr_to_development.yml

Linting
  flows/chat_with_pdf/standard/chat_with_pdf/build_index.py
  flows/chat_with_pdf/standard/chat_with_pdf/constants.py
  flows/chat_with_pdf/standard/chat_with_pdf/download.py
  flows/chat_with_pdf/standard/chat_with_pdf/utils/index.py
Due: .azure-pipelines/chat_with_pdf_ci.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/pr_to_development.yml

lining 2
  flows/chat_with_pdf/standard/chat_with_pdf/utils/create_container.py
Due: .azure-pipelines/chat_with_pdf_ci.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/pr_to_development.yml

Added sed with IMAGE_PLACEHOLDER
  .github/workflows/basic_flow_ci.yml
  src/basic_flow_fastapi_app/deployment.yaml
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/yaml_basic_flow_pr.yml

build stroage url from storage name
  flows/chat_with_pdf/standard/chat_with_pdf/constants.py
Due: .azure-pipelines/chat_with_pdf_ci.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/pr_to_development.yml

removed test branch
  .github/workflows/basic_flow_ci.yml
Due: none

updates to infra modules
  .azure-pipelines/infra_bicep.yml
  infra/public_bicep/llms.yaml
  infra/public_bicep/main.bicep
  infra/public_bicep/main.bicepparam
  infra/public_bicep/modules/ai-hub.bicep
  infra/public_bicep/modules/aiservice.template.bicep
  infra/public_bicep/modules/aks.template.bicep
  infra/public_bicep/modules/aks/aks-cluster-access.bicep
  infra/public_bicep/modules/aks/aks.bicep
  infra/public_bicep/modules/registry-access.bicep
  infra/public_bicep/modules/role.bicep
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

updates
  .azure-pipelines/infra_bicep.yml
  infra/public_bicep/llms.yaml
  infra/public_bicep/main.bicep
  infra/public_bicep/modules/aks.template.bicep
  infra/public_bicep/modules/aks/aks-cluster-access.bicep
  infra/public_bicep/modules/aks/aks.bicep
  infra/public_bicep/modules/registry-access.bicep
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

update principal type
  .azure-pipelines/infra_bicep.yml
  infra/public_bicep/main.bicep
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

update role permission
  infra/public_bicep/modules/aks/aks.bicep
Due: none

update comment
  infra/public_bicep/llms.yaml
Due: none

updated execute_shell_code action to use federated login
  .github/actions/execute_shell_code/action.yml
Due: none

fix chat_with_pdf pr
  .github/workflows/chat_with_pdf_pr.yml
  .github/workflows/platform_pr_dev_workflow.yml
Due: none

Updated CI and PR pipelines with federated cred
  .github/actions/execute_shell_code/action.yml
  .github/workflows/basic_flow_ci.yml
  .github/workflows/chat_with_pdf_ci.yml
  .github/workflows/chat_with_pdf_pr.yml
  .github/workflows/class_basic_flow_pr.yml
  .github/workflows/function_basic_flow_pr.yml
  .github/workflows/plan_and_execute_pr.yml
  .github/workflows/platform_pr_dev_workflow.yml
  .github/workflows/register_data_assets.yml
  .github/workflows/yaml_basic_flow_pr.yml
Due: none

fix executea_shell_code action.yml
  .github/actions/execute_shell_code/action.yml
Due: none

fix action execute_sell_code set enable-AzPSSession: true
  .github/actions/execute_shell_code/action.yml
Due: none
