Repository microsoft/mlops-promptflow-prompt: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/basic_flows_ci.yml, .azure-pipelines/build_devops_image.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

Path conditions:
  .azure-pipelines/basic_flows_ci.yml: any of: .azure-pipelines/basic_flows_ci.yml, flows/function_basic_flow, flows/class_basic_flow, flows/yaml_basic_flow, src/basic_func_imple
  .azure-pipelines/build_devops_image.yml: any of: .azure-pipelines, mlops/common, mlops, flows/class_basic_flow, src, tests
  .azure-pipelines/ci_to_development.yml: any of: flows, mlops, .azure-pipelines
  .azure-pipelines/class_basic_flow_ci.yml: any of: .azure-pipelines, mlops/common, mlops, flows/class_basic_flow, src, tests
  .azure-pipelines/class_basic_flow_pr.yml: any of: .azure-pipelines, mlops/common, mlops, flows/class_basic_flow, src, tests
  .azure-pipelines/function_basic_flow_pr.yml: any of: .azure-pipelines, mlops/common, mlops, flows/function_basic_flow, src, tests
  .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops, flows/named_entity_recognition, tests
  .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/named_entity_recognition, flows/named_entity_recognition, model/named_entity_recognition
  .azure-pipelines/plan_and_execute_pr.yml: any of: .azure-pipelines, mlops/common, mlops, flows/plan_and_execute, src, tests
  .azure-pipelines/pr_to_development.yml: any of: flows, mlops, .azure-pipelines
  .azure-pipelines/yaml_basic_flow_pr.yml: any of: .azure-pipelines, mlops/common, mlops, flows/yaml_basic_flow, src, tests

Added Authentication for AKS
  .github/workflows/basic_flow_ci.yml
Due: none

Updated AKS run-aks-deployment
  .github/workflows/basic_flow_ci.yml
Due: none

Added Deployment.yaml to app
  app/deployment.yaml
Due: none

Updated AKS run-aks-deployment
  .github/workflows/basic_flow_ci.yml
  app/deployment.yaml
Due: none

run chat_with_pdf in azure function
  src/chat_with_pdf_impl/.funcignore
  src/chat_with_pdf_impl/.gitignore
  src/chat_with_pdf_impl/README.md
  src/chat_with_pdf_impl/function_app.py
  src/chat_with_pdf_impl/host.json
  src/chat_with_pdf_impl/requirements.txt
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/yaml_basic_flow_pr.yml

linting
  src/chat_with_pdf_impl/function_app.py
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/yaml_basic_flow_pr.yml

adjusted flows
  .azure-pipelines/basic_flows_ci.yml
  .azure-pipelines/chat_with_pdf_ci.yml
  .gitignore
  config/config.yaml
  data/bert-paper-qna-1-line.jsonl
  data/bert-paper-qna-3-line.jsonl
  flows/chat_with_pdf/evaluate/evaluate.py
  flows/chat_with_pdf/evaluate/flow_wrapper.py
  flows/chat_with_pdf/standard/README.md
  flows/chat_with_pdf/standard/__init__.py
  flows/chat_with_pdf/standard/batch_run.yaml
  flows/chat_with_pdf/standard/chat_with_pdf/.env.example
  flows/chat_with_pdf/standard/chat_with_pdf/README.md
  flows/chat_with_pdf/standard/chat_with_pdf/main.py
  flows/chat_with_pdf/standard/chat_with_pdf/test.ipynb
  flows/chat_with_pdf/standard/chat_with_pdf_tool.py
  flows/chat_with_pdf/standard/docker/dockerfile
  flows/chat_with_pdf/standard/eval_run.yaml
  flows/chat_with_pdf/standard/openai.yaml
  flows/chat_with_pdf/standard/requirements.txt
  mlops/run_chat_with_pdf.py
  src/chat_with_pdf_func_impl/.funcignore
  src/chat_with_pdf_func_impl/README.md
  src/chat_with_pdf_func_impl/function_app.py
  src/chat_with_pdf_func_impl/host.json
  src/chat_with_pdf_func_impl/requirements.txt
  src/chat_with_pdf_impl/.funcignore
  src/chat_with_pdf_impl/.gitignore
  src/chat_with_pdf_impl/requirements.txt
Due: .azure-pipelines/basic_flows_ci.yml, .azure-pipelines/build_devops_image.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

Updated AKS run-aks-deployment
  .devcontainer/Dockerfile
Due: none

Updated AKS run-aks-deployment
  .github/workflows/basic_flow_ci.yml
  app/main.py
Due: none

github pipeline
  .github/workflows/chat_with_pdf_ci.yml
  src/chat_with_pdf_func_impl/function_app.py
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/yaml_basic_flow_pr.yml

Updated AKS run-aks-deployment
  .github/workflows/basic_flow_ci.yml
  app/deployment.yaml
  app/main.py
Due: none

ai studio updates
  infra/Readme.md
  infra/main.bicep
  infra/main.json
  infra/main.parameters.json
  infra/metadata.json
  infra/modules/ai-hub.bicep
  infra/modules/dependent-resources.bicep
Due: none

code modification
  src/basic_flow_fastapi_app/Dockerfile
  src/basic_flow_fastapi_app/deployment.yaml
  src/basic_flow_fastapi_app/main.py
  src/basic_flow_fastapi_app/requirements.txt
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/yaml_basic_flow_pr.yml

update readme
  infra/Readme.md
  infra/modules/ai-hub.bicep
Due: none

initial secret
  .github/workflows/basic_flow_ci.yml
  src/basic_flow_fastapi_app/deployment.yaml
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/yaml_basic_flow_pr.yml

fix ci
  .github/workflows/basic_flow_ci.yml
  src/basic_flow_fastapi_app/main.py
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/yaml_basic_flow_pr.yml

fix basic_flow_ci.yml
  .github/workflows/basic_flow_ci.yml
Due: none

fixing secret basic_flow_ci.yml
  .github/workflows/basic_flow_ci.yml
Due: none

fixing basic_flow_ci.yml
  .github/workflows/basic_flow_ci.yml
Due: none

scale down app
  .github/workflows/basic_flow_ci.yml
  src/basic_flow_fastapi_app/deployment.yaml
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/yaml_basic_flow_pr.yml

remove replicas
  src/basic_flow_fastapi_app/deployment.yaml
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/yaml_basic_flow_pr.yml

adding a rule to yaml
  .github/workflows/basic_flow_ci.yml
Due: none

remove not needed steps
  .github/workflows/basic_flow_ci.yml
Due: none

trying with no secret
  src/basic_flow_fastapi_app/deployment.yaml
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/yaml_basic_flow_pr.yml

applying namespace
  .github/workflows/basic_flow_ci.yml
  src/basic_flow_fastapi_app/deployment.yaml
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/yaml_basic_flow_pr.yml
