Repository microsoft/mlops-promptflow-prompt: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/basic_flows_ci.yml, .azure-pipelines/build_devops_image.yml, .azure-pipelines/chat_with_pdf_ci.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

.azure-pipelines/basic_flows_ci.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: deploy_prompts
    displayName: Deploy Promptflow Basic Flows as Azure Functions
    jobs:
    - job: deploy_flow
      steps:
      - template: templates/configure_devops_agent.yml
      - task: CopyFiles@2
        inputs:
  ...

.azure-pipelines/build_devops_image.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: ./templates/build_and_push_devopsimage.yml
    parameters:
      acr_registry_connection: null
      devops_container_image: $(devops_container_image)
      dockerfile: ${{parameters.dockerfile}}
      image_name: ${{parameters.image_name}}

.azure-pipelines/chat_with_pdf_ci.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: evaluation
    displayName: Evaluate Chat With PDF PF Flow
    jobs:
    - job: Execute_pf_Pipeline
      displayName: Execute Evaluation
      steps:
      - template: templates/configure_devops_agent.yml
      - task: AzureCLI@2
  ...

.azure-pipelines/ci_to_development.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: UsePythonVersion@0
    displayName: Setting Python version to 3.9 as required by functions
    inputs:
      versionSpec: '3.9'
      architecture: x64

.azure-pipelines/class_basic_flow_ci.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: ./platform_ci_dev_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
      model_type: ${{ parameters.model_type }}

.azure-pipelines/class_basic_flow_pr.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: ./templates/platform_pr_dev_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
      model_type: ${{ parameters.model_type }}
      acr_connection: $(dockerRegistryServiceConnection)
  ...

.azure-pipelines/function_basic_flow_pr.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: ./templates/platform_pr_dev_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
      model_type: ${{ parameters.model_type }}

.azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: ./templates/variables_template.yml
    parameters:
      env_name: ${{parameters.env_name}}
      model_type: ${{parameters.model_type}}
  - template: ./platform_ci_dev_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
  ...

.azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: ../templates/variables_template.yml
    parameters:
      env_name: ${{parameters.env_name}}
      model_type: ${{parameters.model_type}}
  - template: ./platform_pr_dev_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
  ...

optimazing image
  src/basic_flow_fastapi_app/Dockerfile
  src/basic_flow_fastapi_app/deployment.yaml
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/yaml_basic_flow_pr.yml

some fixes to the script
  src/basic_flow_fastapi_app/main.py
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/yaml_basic_flow_pr.yml

fix import
  src/basic_flow_fastapi_app/main.py
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/yaml_basic_flow_pr.yml

created teams deployment
  samples/teamsdep/.gitignore
  samples/teamsdep/.webappignore
  samples/teamsdep/README.md
  samples/teamsdep/appPackage/color.png
  samples/teamsdep/appPackage/manifest.json
  samples/teamsdep/appPackage/outline.png
  samples/teamsdep/infra/azure.bicep
  samples/teamsdep/infra/azure.parameters.json
  samples/teamsdep/infra/botRegistration/azurebot.bicep
  samples/teamsdep/infra/botRegistration/readme.md
  samples/teamsdep/src/app.py
  samples/teamsdep/src/bot.py
  samples/teamsdep/src/config.py
  samples/teamsdep/src/prompts/chat/config.json
  samples/teamsdep/src/prompts/chat/skprompt.txt
  samples/teamsdep/src/requirements.txt
  samples/teamsdep/teamsapp.local.yml
  samples/teamsdep/teamsapp.testtool.yml
  samples/teamsdep/teamsapp.yml
Due: none

created teams deployment
  .devcontainer/devcontainer.json
  .github/workflows/deploy_teams.yml
  .gitignore
  samples/deployment/sp.sh
Due: none

created deploy_teams workflow
  .github/workflows/deploy_teams.yml
Due: none

updated deploy_teams workflow folder
  .github/workflows/deploy_teams.yml
Due: none

fix deployment name
  .github/workflows/basic_flow_ci.yml
Due: none

enable manual dispatch
  .github/workflows/deploy_teams.yml
Due: none

force trigger
  src/empty.txt
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/yaml_basic_flow_pr.yml

force trigger
  .github/workflows/deploy_teams.yml
Due: none

return function deployment back
  .github/actions/execute_shell_code/action.yml
  .github/workflows/basic_flow_ci.yml
  src/basic_flow_fastapi_app/main.py
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/yaml_basic_flow_pr.yml

trying to fix azure functions
  src/basic_func_impl/class_basic_invoke/class_function.py
  src/basic_func_impl/function_app.py
  src/basic_func_impl/function_basic_invoke/function_function.py
  src/basic_func_impl/yaml_basic_invoke/yaml_function.py
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/yaml_basic_flow_pr.yml

trying functions in the root
  src/basic_func_impl/class_basic_invoke/readme.md
  src/basic_func_impl/class_function.py
  src/basic_func_impl/function_app.py
  src/basic_func_impl/function_basic_invoke/readme.md
  src/basic_func_impl/function_function.py
  src/basic_func_impl/yaml_basic_invoke/readme.md
  src/basic_func_impl/yaml_function.py
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/yaml_basic_flow_pr.yml

trying functions in one file
  src/basic_func_impl/class_function.py
  src/basic_func_impl/function_app.py
  src/basic_func_impl/function_function.py
  src/basic_func_impl/yaml_function.py
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/yaml_basic_flow_pr.yml

revert azure functions
  src/basic_func_impl/class_basic_invoke/__init__.py
  src/basic_func_impl/class_basic_invoke/readme.md
  src/basic_func_impl/function_app.py
  src/basic_func_impl/function_basic_invoke/__init__.py
  src/basic_func_impl/function_basic_invoke/readme.md
  src/basic_func_impl/yaml_basic_invoke/__init__.py
  src/basic_func_impl/yaml_basic_invoke/readme.md
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/yaml_basic_flow_pr.yml

revert dev container
  .devcontainer/Dockerfile
  .github/workflows/basic_flow_ci.yml
Due: none

initial host and req modification
  src/chat_with_pdf_func_impl/host.json
  src/chat_with_pdf_func_impl/requirements.txt
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/chat_with_pdf_ci.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/yaml_basic_flow_pr.yml

add modules
  src/chat_with_pdf_func_impl/function_app.py
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/chat_with_pdf_ci.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/yaml_basic_flow_pr.yml

add initialization
  src/chat_with_pdf_func_impl/function_app.py
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/chat_with_pdf_ci.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/yaml_basic_flow_pr.yml

fix portal functions
  .github/workflows/basic_flow_ci.yml
  src/basic_func_impl/class_basic_invoke/__init__.py
  src/basic_func_impl/function_app.py
  src/basic_func_impl/function_basic_invoke/__init__.py
  src/basic_func_impl/yaml_basic_invoke/__init__.py
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/yaml_basic_flow_pr.yml

fix logger
  src/basic_func_impl/function_app.py
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/yaml_basic_flow_pr.yml

fix flow path
  src/basic_func_impl/yaml_basic_invoke/__init__.py
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/yaml_basic_flow_pr.yml

fix paths
  src/basic_func_impl/class_basic_invoke_flow_code/__init__.py
  src/basic_func_impl/function_basic_invoke_flow_code/__init__.py
  src/basic_func_impl/yaml_basic_invoke_flow_code/__init__.py
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/yaml_basic_flow_pr.yml

folder fix and devops update
  .azure-pipelines/basic_flows_ci.yml
  .github/workflows/basic_flow_ci.yml
  src/basic_func_impl/class_basic_invoke/function.py
  src/basic_func_impl/function_app.py
  src/basic_func_impl/function_basic_invoke/function.py
  src/basic_func_impl/yaml_basic_invoke/function.py
Due: .azure-pipelines/basic_flows_ci.yml, .azure-pipelines/build_devops_image.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

trying another folder name
  .azure-pipelines/basic_flows_ci.yml
  .github/workflows/basic_flow_ci.yml
  src/basic_func_impl/class_basic_invoke_code/function.py
  src/basic_func_impl/function_app.py
  src/basic_func_impl/function_basic_invoke_code/function.py
  src/basic_func_impl/yaml_basic_invoke_code/function.py
Due: .azure-pipelines/basic_flows_ci.yml, .azure-pipelines/build_devops_image.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/plan_and_execute_pr.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

Update deploy_teams triggers
  .github/workflows/deploy_teams.yml
Due: none

force update with test.txt
  samples/teamsdep/test.txt
Due: none

Update deploy_teams.yml corrected folder to copy
  .github/workflows/deploy_teams.yml
Due: none

force update with test.txt
  .github/workflows/deploy_teams.yml
  samples/teamsdep/test.txt
Due: none

force update with test.txt
  .github/workflows/deploy_teams.yml
  samples/teamsdep/.gitignore
  samples/teamsdep/test.txt
Due: none

Path conditions:
  .azure-pipelines/basic_flows_ci.yml: any of: .azure-pipelines/basic_flows_ci.yml, flows/function_basic_flow, flows/class_basic_flow, flows/yaml_basic_flow, src/basic_func_imple
  .azure-pipelines/build_devops_image.yml: any of: .azure-pipelines, mlops/common, mlops, flows/class_basic_flow, src, tests
  .azure-pipelines/chat_with_pdf_ci.yml: any of: .azure-pipelines/chat_with_pdf_ci.yml, flows/chat_with_pdf, src/chat_with_pdf_func_impl
  .azure-pipelines/ci_to_development.yml: any of: flows, mlops, .azure-pipelines
  .azure-pipelines/class_basic_flow_ci.yml: any of: .azure-pipelines, mlops/common, mlops, flows/class_basic_flow, src, tests
  .azure-pipelines/class_basic_flow_pr.yml: any of: .azure-pipelines, mlops/common, mlops, flows/class_basic_flow, src, tests
  .azure-pipelines/function_basic_flow_pr.yml: any of: .azure-pipelines, mlops/common, mlops, flows/function_basic_flow, src, tests
  .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops, flows/named_entity_recognition, tests
  .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/named_entity_recognition, flows/named_entity_recognition, model/named_entity_recognition
  .azure-pipelines/plan_and_execute_pr.yml: any of: .azure-pipelines, mlops/common, mlops, flows/plan_and_execute, src, tests
  .azure-pipelines/pr_to_development.yml: any of: flows, mlops, .azure-pipelines
  .azure-pipelines/yaml_basic_flow_pr.yml: any of: .azure-pipelines, mlops/common, mlops, flows/yaml_basic_flow, src, tests
