Repository microsoft/mlops-promptflow-prompt: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/basic_flows_ci.yml, .azure-pipelines/build_devops_image.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

.azure-pipelines/basic_flows_ci.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: deploy_prompts
    displayName: Deploy Promptflow Basic Flows as Azure Functions
    jobs:
    - job: deploy_flow
      steps:
      - template: templates/configure_devops_agent.yml
      - task: CopyFiles@2
        inputs:
  ...

.azure-pipelines/build_devops_image.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: ./templates/build_and_push_devopsimage.yml
    parameters:
      acr_registry_connection: null
      devops_container_image: $(devops_container_image)
      dockerfile: ${{parameters.dockerfile}}
      image_name: ${{parameters.image_name}}

.azure-pipelines/ci_to_development.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: UsePythonVersion@0
    displayName: Setting Python version to 3.9 as required by functions
    inputs:
      versionSpec: '3.9'
      architecture: x64

.azure-pipelines/class_basic_flow_ci.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: ./platform_ci_dev_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
      model_type: ${{ parameters.model_type }}

.azure-pipelines/class_basic_flow_pr.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: ./templates/platform_pr_dev_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
      model_type: ${{ parameters.model_type }}
      acr_connection: $(dockerRegistryServiceConnection)
  ...

.azure-pipelines/function_basic_flow_pr.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: ./templates/platform_pr_dev_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
      model_type: ${{ parameters.model_type }}

.azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: ./templates/variables_template.yml
    parameters:
      env_name: ${{parameters.env_name}}
      model_type: ${{parameters.model_type}}
  - template: ./platform_ci_dev_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
  ...

.azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: ../templates/variables_template.yml
    parameters:
      env_name: ${{parameters.env_name}}
      model_type: ${{parameters.model_type}}
  - template: ./platform_pr_dev_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
  ...

.azure-pipelines/pr_to_development.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: build
    displayName: build_validation
    jobs:
    - template: build_validation_pipeline.yml
  - stage: execute
    displayName: execute_prompt_evaluation
    jobs:
    - job: execute_summarize_evaluation
      steps:
  ...

github init pipeline
  .github/workflows/basic_flow_ci.yml
Due: none

trying to invoke
  .github/workflows/basic_flow_ci.yml
Due: none

trying to test
  .github/workflows/basic_flow_ci.yml
Due: none

fix path
  .github/workflows/basic_flow_ci.yml
Due: none

fix tag
  .github/workflows/basic_flow_ci.yml
Due: none

forgotten variables
  .github/workflows/basic_flow_ci.yml
Due: none

fix app name
  .github/workflows/basic_flow_ci.yml
Due: none

one more app_name
  .github/workflows/basic_flow_ci.yml
Due: none

removed not needed step
  .github/actions/execute_shell_code/action.yml
Due: none

change pr to puush
  .github/workflows/basic_flow_ci.yml
Due: none

added coherence and relevance evals to chat_with_pdf
  config/config.yaml
  flows/chat_with_pdf/evaluate/evaluate.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/pr_to_development.yml

flake8 fixes
  flows/chat_with_pdf/evaluate/evaluate.py
  flows/chat_with_pdf/evaluate/flow_wrapper.py
  flows/chat_with_pdf/standard/build_index_tool.py
  flows/chat_with_pdf/standard/chat_with_pdf_tool.py
  flows/chat_with_pdf/standard/download_tool.py
  flows/chat_with_pdf/standard/find_context_tool.py
  flows/chat_with_pdf/standard/qna_tool.py
  flows/chat_with_pdf/standard/rewrite_question_tool.py
  flows/chat_with_pdf/standard/setup_env.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/pr_to_development.yml

create connections in AIStudio has been updated
  config/config.yaml
  mlops/connections/azure_create_acs_connection.py
  mlops/connections/azure_create_aoai_connection.py
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

revert connection name back
  config/config.yaml
Due: none

data set registration
  .azure-pipelines/register_data_assets.yml
  config/data_config.json
  mlops/common/register_data_assets.py
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

fix subscription id
  .azure-pipelines/register_data_assets.yml
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

github implementation
  .github/workflows/register_data_assets.yml
Due: none

trying to test workflow
  .github/workflows/register_data_assets.yml
Due: none

tested and reverted back
  .github/workflows/register_data_assets.yml
Due: none

added evaluation code
  config/config.yaml
  data/plan_and_execute_json_schema.json
  flows/plan_and_execute/evaluate/evaluate.py
  flows/plan_and_execute/evaluate/flow_wrapper.py
  flows/plan_and_execute/standard/executor.py
  flows/plan_and_execute/standard/flow.dag.yaml
  flows/plan_and_execute/standard/requirements.txt
  flows/plan_and_execute/standard/tools.py
  src/evaluators/executor_evaluator.py
  src/evaluators/json_evaluator.py
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

changes based on PR comments
  config/config.yaml
  data/bert-paper-qna-1-line.jsonl
  data/bert-paper-qna-3-line.jsonl
  data/bert-paper-qna.jsonl
  data/data.jsonl
  flows/chat_with_pdf/data/invalid-data-missing-column.jsonl
  flows/chat_with_pdf/evaluate/evaluate.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/pr_to_development.yml

fixed for lint
  flows/plan_and_execute/evaluate/evaluate.py
  flows/plan_and_execute/evaluate/flow_wrapper.py
  src/evaluators/executor_evaluator.py
  src/evaluators/json_evaluator.py
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

moved json schema file to evaluation folder
  config/config.yaml
  flows/plan_and_execute/evaluate/plan_and_execute_json_schema.json
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/pr_to_development.yml

added run_yaml_basic_flow_azure.py
  mlops/run_yaml_basic_flow_azure.py
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

developed run_yaml_basic_flow_azure.py for batch yaml example
  mlops/run_yaml_basic_flow_azure.py
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

implemented verification for the Azure OpenAI connection
  mlops/run_yaml_basic_flow_azure.py
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

whitespace
  mlops/run_yaml_basic_flow_azure.py
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

fix linting
  mlops/run_yaml_basic_flow_azure.py
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

initial github setup
  .azure-pipelines/chat_with_pdf_pr.yml
  .azure-pipelines/plan_and_execute_pr.yml
  .github/workflows/chat_with_pdf_pr.yml
  .github/workflows/plan_and_execute_pr.yml
  config/config.yaml
  flows/chat_with_pdf/evaluate/evaluate.py
  setup.cfg
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

remove chat with pdf temporary
  setup.cfg
Due: none

fix reference to module
  .github/workflows/plan_and_execute_pr.yml
Due: none

missing package
  requirements.txt
Due: none

missing packages
  requirements.txt
Due: none

wrong package
  requirements.txt
Due: none

more packages for evaluation
  requirements.txt
Due: none

comments and deployment name
  config/config.yaml
  requirements.txt
Due: none

another deployment name
  config/config.yaml
Due: none

fixing deployment name
  data/bert-paper-qna-3-line.jsonl
  flows/chat_with_pdf/standard/batch_run.yaml
  flows/chat_with_pdf/standard/chat_with_pdf/.env.example
  flows/chat_with_pdf/standard/flow.dag.yaml
  flows/chat_with_pdf/standard/requirements.txt
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/pr_to_development.yml

added not started pf status
  mlops/run_yaml_basic_flow_azure.py
Due: .azure-pipelines/build_devops_image.yml, .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/class_basic_flow_pr.yml, .azure-pipelines/function_basic_flow_pr.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml, .azure-pipelines/yaml_basic_flow_pr.yml

Path conditions:
  .azure-pipelines/basic_flows_ci.yml: any of: .azure-pipelines/basic_flows_ci.yml, flows/function_basic_flow, flows/class_basic_flow, flows/yaml_basic_flow, src/basic_func_imple
  .azure-pipelines/build_devops_image.yml: any of: .azure-pipelines, mlops/common, mlops, flows/class_basic_flow, src, tests
  .azure-pipelines/ci_to_development.yml: any of: flows, mlops, .azure-pipelines
  .azure-pipelines/class_basic_flow_ci.yml: any of: .azure-pipelines, mlops/common, mlops, flows/class_basic_flow, src, tests
  .azure-pipelines/class_basic_flow_pr.yml: any of: .azure-pipelines, mlops/common, mlops, flows/class_basic_flow, src, tests
  .azure-pipelines/function_basic_flow_pr.yml: any of: .azure-pipelines, mlops/common, mlops, flows/function_basic_flow, src, tests
  .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops, flows/named_entity_recognition, tests
  .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/named_entity_recognition, flows/named_entity_recognition, model/named_entity_recognition
  .azure-pipelines/pr_to_development.yml: any of: flows, mlops, .azure-pipelines
  .azure-pipelines/yaml_basic_flow_pr.yml: any of: .azure-pipelines, mlops/common, mlops, flows/yaml_basic_flow, src, tests
