Repository microsoft/mlops-promptflow-prompt: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

.azure-pipelines/ci_to_development.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: UsePythonVersion@0
    displayName: Setting Python version to 3.9 as required by functions
    inputs:
      versionSpec: '3.9'
      architecture: x64

.azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: ./templates/variables_template.yml
    parameters:
      env_name: ${{parameters.env_name}}
      model_type: ${{parameters.model_type}}
  - template: ./platform_ci_dev_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
  ...

.azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: ../templates/variables_template.yml
    parameters:
      env_name: ${{parameters.env_name}}
      model_type: ${{parameters.model_type}}
  - template: ./platform_pr_dev_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
  ...

.azure-pipelines/pr_to_development.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: build
    displayName: build_validation
    jobs:
    - template: build_validation_pipeline.yml
  - stage: execute
    displayName: execute_prompt_evaluation
    jobs:
    - job: execute_summarize_evaluation
      steps:
  ...

fixing web app naming based on site names azure app service
  .github/workflows/platform_ci_dev_workflow.yml
Due: none

Cleanup
  .github/workflows/named_entity_recognition_ci_dev_workflow.yml
Due: none

added Azure Container Registry details to config.yml, updates ci
  .github/workflows/platform_ci_dev_workflow.yml
  config/config.yaml
Due: none

ci testing
  .github/workflows/named_entity_recognition_ci_dev_workflow.yml
  .github/workflows/platform_ci_dev_workflow.yml
Due: none

deleted generate_variables
  .github/actions/generate_variables/action.yml
  .github/workflows/platform_ci_dev_workflow.yml
Due: none

deleted generate_variables
  .github/workflows/platform_ci_dev_workflow.yml
Due: none

shared folder had been merged into mlops/common
  flows/named_entity_recognition_evaluate/evaluate.py
  mlops/azure_prompt_eval.py
  mlops/azure_prompt_pipeline.py
  mlops/common/config_utils.py
  mlops/common/flow_utils.py
  mlops/connections/azure_create_acs_connection.py
  mlops/connections/azure_create_aoai_connection.py
  mlops/connections/local_create_acs_connection.py
  mlops/connections/local_create_aoai_connection.py
  mlops/local_prompt_eval.py
  mlops/local_prompt_pipeline.py
  mlops/local_prompt_test.py
  requirements.txt
  shared/__init__.py
  shared/cleansing.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

fix references
  .env.sample
  config/config.yaml
  flows/named_entity_recognition/evaluation/cleansing.py
  flows/named_entity_recognition/evaluation/log_metrics.py
  flows/named_entity_recognition/evaluation/match.py
  flows/named_entity_recognition/standard/cleansing.py
  flows/named_entity_recognition_evaluate/evaluate.py
  mlops/local_prompt_eval.py
  mlops/local_prompt_pipeline.py
  mlops/local_prompt_test.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

fix linting
  config/config.yaml
  flows/named_entity_recognition_evaluate/evaluate.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/pr_to_development.yml

two more references
  mlops/connections/local_create_acs_connection.py
  mlops/connections/local_create_aoai_connection.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

updated register_model.py with config
  .github/workflows/platform_ci_dev_workflow.yml
  mlops/common/deployment/register_model.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

updated register_model.py with config
  mlops/common/deployment/register_model.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

removed deployment config
  .azure-pipelines/templates/experiment_variables.yml
  .azure-pipelines/templates/variables_template.yml
  config/config.yaml
  mlops/named_entity_recognition/__init__.py
  mlops/named_entity_recognition/configs/deployment_config.json
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

PR Build implementation
  .azure-pipelines/build_validation_pipeline.yml
  .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml
  .azure-pipelines/platform_pr_dev_pipeline.yml
  .azure-pipelines/requirements/build_validation_requirements.txt
  .azure-pipelines/requirements/execute_job_requirements.txt
  .azure-pipelines/templates/configure_azureml_agent.yml
  .azure-pipelines/templates/execute_mlops_pipeline.yml
  .azure-pipelines/templates/get_connection_details.yml
  .azure-pipelines/templates/pf_onlineendpoint_deployment.yml
  flow-deploy/kubernetes/deployment.yaml
  requirements.txt
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

remove sub_id reference
  .azure-pipelines/platform_pr_dev_pipeline.yml
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

fix parameters
  .azure-pipelines/platform_pr_dev_pipeline.yml
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

quick fix for requirements
  .azure-pipelines/templates/execute_azurecli_code.yml
  requirements.txt
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

add keyring
  requirements.txt
Due: none

forgotten name
  .azure-pipelines/platform_pr_dev_pipeline.yml
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

try with no stages
  .azure-pipelines/platform_ci_dev_pipeline.yml
  .azure-pipelines/platform_pr_dev_pipeline.yml
  flows/named_entity_recognition/evaluation/log_metrics.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

removed not needed configuration step
  .azure-pipelines/platform_pr_dev_pipeline.yml
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

add dependson
  .azure-pipelines/platform_pr_dev_pipeline.yml
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

returned packages init
  .azure-pipelines/platform_pr_dev_pipeline.yml
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

fix name
  .azure-pipelines/platform_pr_dev_pipeline.yml
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

build optimization
  .azure-pipelines/build_validation_pipeline.yml
  .azure-pipelines/platform_ci_dev_pipeline.yml
  .azure-pipelines/platform_pr_dev_pipeline.yml
  .azure-pipelines/templates/configure_azureml_agent.yml
  .azure-pipelines/templates/configure_devops_agent.yml
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

make ci pipeline working
  .azure-pipelines/platform_ci_dev_pipeline.yml
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

deployment name
  .azure-pipelines/platform_ci_dev_pipeline.yml
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

added plan_and_execute flow
  config/config.yaml
  flows/named_entity_recognition/standard/.promptflow/flow.tools.json
  flows/plan_and_execute/standard/connection_utils.py
  flows/plan_and_execute/standard/docker/dockerfile
  flows/plan_and_execute/standard/executor.py
  flows/plan_and_execute/standard/flow.dag.yaml
  flows/plan_and_execute/standard/planner.py
  flows/plan_and_execute/standard/planner_system_prompt.jinja2
  flows/plan_and_execute/standard/requirements.txt
  flows/plan_and_execute/standard/solver.py
  flows/plan_and_execute/standard/solver_system_prompt.jinja2
  flows/plan_and_execute/standard/tools.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

fixed for lint
  flows/plan_and_execute/standard/connection_utils.py
  flows/plan_and_execute/standard/executor.py
  flows/plan_and_execute/standard/planner.py
  flows/plan_and_execute/standard/solver.py
  flows/plan_and_execute/standard/tools.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/pr_to_development.yml

remove subscription to activate the pipeline
  .github/workflows/named_entity_recognition_pr_dev_workflow.yml
  .github/workflows/platform_pr_dev_workflow.yml
Due: none

initial clean-up pr github pipeline
  .github/actions/configure_devops_agent/action.yml
  .github/workflows/build_validation_workflow.yml
  .github/workflows/named_entity_recognition_pr_dev_workflow.yml
  .github/workflows/platform_pr_dev_workflow.yml
Due: none

initial clean-up pr github pipeline
  .github/workflows/named_entity_recognition_pr_dev_workflow.yml
Due: none

updated to use Github Actions using Node.js.20
  .github/actions/configure_devops_agent/action.yml
  .github/actions/execute_shell_code/action.yml
  .github/workflows/build_validation_workflow.yml
Due: none

Revert "updated to use Github Actions using Node.js.20"
  .github/actions/configure_devops_agent/action.yml
  .github/actions/execute_shell_code/action.yml
  .github/workflows/build_validation_workflow.yml
Due: none

clean-up basic pr github pipeline
  .github/workflows/named_entity_recognition_pr_dev_workflow.yml
Due: none

clean-up basic pr github pipeline
  .github/actions/generate_variables/action.yml
  .github/requirements/build_validation_requirements.txt
  .github/requirements/execute_job_requirements.txt
  .github/workflows/platform_ci_dev_workflow.yml
Due: none

MLFlow has been removed
  config/config.yaml
  mlops/common/config_utils.py
  mlops/common/deployment/deploy_online_endpoint.py
  mlops/common/deployment/provision_deployment.py
  mlops/common/deployment/provision_endpoint.py
  mlops/common/deployment/register_model.py
  mlops/local_prompt_eval.py
  mlops/local_prompt_pipeline.py
  mlops/local_prompt_test.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

Path conditions:
  .azure-pipelines/ci_to_development.yml: any of: flows, mlops, .azure-pipelines
  .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops, flows/named_entity_recognition, tests
  .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/named_entity_recognition, flows/named_entity_recognition, model/named_entity_recognition
  .azure-pipelines/pr_to_development.yml: any of: flows, mlops, .azure-pipelines
