Repository microsoft/mlops-promptflow-prompt: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

.azure-pipelines/ci_to_development.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: UsePythonVersion@0
    displayName: Setting Python version to 3.9 as required by functions
    inputs:
      versionSpec: '3.9'
      architecture: x64

.azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: ./templates/variables_template.yml
    parameters:
      env_name: ${{parameters.env_name}}
      model_type: ${{parameters.model_type}}
  - template: ./platform_ci_dev_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
  ...

.azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: ../templates/variables_template.yml
    parameters:
      env_name: ${{parameters.env_name}}
      model_type: ${{parameters.model_type}}
  - template: ./platform_pr_dev_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
  ...

.azure-pipelines/pr_to_development.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: build
    displayName: build_validation
    jobs:
    - template: build_validation_pipeline.yml
  - stage: execute
    displayName: execute_prompt_evaluation
    jobs:
    - job: execute_summarize_evaluation
      steps:
  ...

updates provision endpoint code
  mlops/common/deployment/provision_endpoint.py
  mlops/common/deployment/register_model.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

updates provision deployment code
  mlops/common/deployment/provision_deployment.py
  mlops/common/deployment/provision_endpoint.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

optimized yaml pipeline and requirements file
  .azure-pipelines/platform_ci_dev_pipeline.yml
  .azure-pipelines/platform_pr_dev_pipeline.yml
  mlops/common/get_workspace.py
  requirements.txt
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

updates register data asset code
  mlops/common/register_data_asset.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

Add Initial Dockerfile/devcontainer
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .env.sample
Due: none

Remove references to $WORKSPACE
  .devcontainer/Dockerfile
Due: none

apply mlflow to test
  .azure-pipelines/build_validation_pipeline.yml
  .azure-pipelines/requirements/build_validation_requirements.txt
  .azure-pipelines/requirements/execute_job_requirements.txt
  .azure-pipelines/templates/configure_azureml_agent.yml
  .env.sample
  .gitignore
  README.md
  conda_environment.md
  config/model_config.json
  mlops/common/generate_mlflow_names.py
  mlops/local_create_aoai_connection.py
  mlops/local_prompt_test.py
  mlops/named_entity_recognition/local_prompt_test.py
  requirements.txt
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

pipeline experiment generalization
  README.md
  config/model_config.json
  mlops/local_prompt_pipeline.py
  mlops/named_entity_recognition/local_prompt_pipeline.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

visualize is optional
  mlops/local_prompt_pipeline.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/pr_to_development.yml

mlflow for evaluation has been implemented
  config/model_config.json
  mlops/local_prompt_eval.py
  mlops/named_entity_recognition/local_prompt_eval.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

code optimization
  mlops/common/generate_mlflow_names.py
  mlops/common/mlflow_tools.py
  mlops/local_prompt_eval.py
  mlops/local_prompt_pipeline.py
  mlops/local_prompt_test.py
  mlops/named_entity_recognition/azure_prompt_eval.py
  mlops/named_entity_recognition/azure_prompt_pipeline.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

adjust azure flows
  .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml
  .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml
  .azure-pipelines/platform_ci_dev_pipeline.yml
  .azure-pipelines/platform_pr_dev_pipeline.yml
  .azure-pipelines/templates/execute_mlops_pipeline.yml
  .azure-pipelines/templates/experiment_variables.yml
  .azure-pipelines/templates/variables_template.yml
  README.md
  config/model_config.json
  mlops/azure_prompt_eval.py
  mlops/azure_prompt_pipeline.py
  mlops/local_prompt_eval.py
  mlops/local_prompt_pipeline.py
  mlops/named_entity_recognition/azure_prompt_eval.py
  mlops/named_entity_recognition/azure_prompt_pipeline.py
  mlops/named_entity_recognition/configs/data_config.json
  reports/reports.txt
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

fix dependencies
  .azure-pipelines/requirements/build_validation_requirements.txt
  .azure-pipelines/requirements/execute_job_requirements.txt
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

fix CI Build
  .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml
  .azure-pipelines/platform_ci_dev_pipeline.yml
  .azure-pipelines/platform_pr_dev_pipeline.yml
  .azure-pipelines/templates/aml_real_deployment.yml
  .azure-pipelines/templates/experiment_variables.yml
  .azure-pipelines/templates/variables_template.yml
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

fix eval naming
  mlops/azure_prompt_eval.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/pr_to_development.yml

echo fix
  .azure-pipelines/platform_ci_dev_pipeline.yml
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

add parameterized local connection scripts
  mlops/local_create_acs_connection.py
  mlops/local_create_aoai_connection.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/pr_to_development.yml

few additional modifications
  .env.sample
  README.md
  mlops/connections/local_create_acs_connection.py
  mlops/connections/local_create_aoai_connection.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/pr_to_development.yml

:hammer: start named entity recognition workflows.
  .github/README.md
  .github/actions/aml_real_deployment/action.yml
  .github/actions/configure_azureml_agent/action.yml
  .github/actions/execute_shell_code/action.yml
  .github/actions/generate_variables/action.yml
  .github/workflows/build_validation_workflow.yml
  .github/workflows/named_entity_recognition_ci_dev_workflow.yml
  .github/workflows/named_entity_recognition_pr_dev_workflow.yml
  .github/workflows/platform_ci_dev_workflow.yml
  .github/workflows/platform_pr_dev_workflow.yml
Due: none

azure connection script
  mlops/common/mlflow_tools.py
  mlops/connections/azure_create_acs_connection.py
  mlops/connections/azure_create_aoai_connection.py
  requirements.txt
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

move subscription id into the parameter list
  .azure-pipelines/platform_ci_dev_pipeline.yml
  .azure-pipelines/platform_pr_dev_pipeline.yml
  .azure-pipelines/templates/execute_python_code.yml
  .azure-pipelines/templates/register_data_asset.yml
  .env.sample
  config/model_config.json
  mlops/azure_prompt_eval.py
  mlops/azure_prompt_pipeline.py
  mlops/local_prompt_eval.py
  mlops/local_prompt_pipeline.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

documentation update
  README.md
Due: none

remove appinsights conn string, rename github readme so it does not override repo readme.
  .github/actions/aml_real_deployment/action.yml
  .github/actions/execute_shell_code/action.yml
  .github/workflows.md
  .github/workflows/named_entity_recognition_ci_dev_workflow.yml
  .github/workflows/named_entity_recognition_pr_dev_workflow.yml
  .github/workflows/platform_ci_dev_workflow.yml
  .github/workflows/platform_pr_dev_workflow.yml
Due: none

remove reference to specific AOAI instance
  .github/workflows/platform_pr_dev_workflow.yml
Due: none

more mods to the readme
  .github/workflows.md
Due: none

revert back to local
  .github/workflows/platform_ci_dev_workflow.yml
Due: none

re-add requirements folder.
  .github/requirements/build_validation_requirements.txt
  .github/requirements/execute_job_requirements.txt
Due: none

try to resolve node12 warning message
  .github/workflows/build_validation_workflow.yml
Due: none

subscription id and base endpoint
  .github/workflows.md
  .github/workflows/platform_ci_dev_workflow.yml
  .github/workflows/platform_pr_dev_workflow.yml
Due: none

main secret
  .github/workflows/named_entity_recognition_ci_dev_workflow.yml
  .github/workflows/named_entity_recognition_pr_dev_workflow.yml
Due: none

fix connections folder
  .github/workflows.md
  .github/workflows/platform_ci_dev_workflow.yml
  .github/workflows/platform_pr_dev_workflow.yml
Due: none

fix dependencies
  .github/requirements/build_validation_requirements.txt
  .github/requirements/execute_job_requirements.txt
Due: none

adding keyrings
  .github/requirements/build_validation_requirements.txt
  .github/requirements/execute_job_requirements.txt
  requirements.txt
Due: none

test
  .github/actions/configure_azureml_agent/action.yml
Due: none

test 2
  .github/workflows/build_validation_workflow.yml
Due: none

test 3
  .github/requirements/build_validation_requirements.txt
Due: none

fix name and revert keyring
  .github/requirements/build_validation_requirements.txt
  .github/requirements/execute_job_requirements.txt
  .github/workflows/platform_ci_dev_workflow.yml
  .github/workflows/platform_pr_dev_workflow.yml
  requirements.txt
Due: none

add keyrings.alt
  .github/requirements/execute_job_requirements.txt
  requirements.txt
Due: none

runtime name has been removed
  config/model_config.json
  flows/named_entity_recognition/standard/requirements.txt
  mlops/azure_prompt_eval.py
  mlops/azure_prompt_pipeline.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

reduce number of packages
  flows/named_entity_recognition/evaluation/requirements.txt
  flows/named_entity_recognition/standard/requirements.txt
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

Path conditions:
  .azure-pipelines/ci_to_development.yml: any of: flows, mlops, .azure-pipelines
  .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/named_entity_recognition, model/named_entity_recognition
  .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/named_entity_recognition, flows/named_entity_recognition, model/named_entity_recognition
  .azure-pipelines/pr_to_development.yml: any of: flows, mlops, .azure-pipelines
