Repository microsoft/mlops-promptflow-prompt: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

.azure-pipelines/ci_to_development.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: UsePythonVersion@0
    displayName: Setting Python version to 3.9 as required by functions
    inputs:
      versionSpec: '3.9'
      architecture: x64

.azure-pipelines/class_basic_flow_ci.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: ./platform_ci_dev_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
      model_type: ${{ parameters.model_type }}

.azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: ./templates/variables_template.yml
    parameters:
      env_name: ${{parameters.env_name}}
      model_type: ${{parameters.model_type}}
  - template: ./platform_ci_dev_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
  ...

.azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: ../templates/variables_template.yml
    parameters:
      env_name: ${{parameters.env_name}}
      model_type: ${{parameters.model_type}}
  - template: ./platform_pr_dev_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
  ...

.azure-pipelines/pr_to_development.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: build
    displayName: build_validation
    jobs:
    - template: build_validation_pipeline.yml
  - stage: execute
    displayName: execute_prompt_evaluation
    jobs:
    - job: execute_summarize_evaluation
      steps:
  ...

test build_devops_container_workflow.yml
  .github/workflows/build_devops_container_workflow.yml
Due: none

test build_devops_container_workflow.yml
  .devcontainer/Dockerfile
  .github/workflows/build_devops_container_workflow.yml
Due: none

test build_devops_container_workflow.yml
  .devcontainer/Dockerfile
Due: none

test build_devops_container.yml
  .devcontainer/Dockerfile
  .github/workflows/build_devops_container_workflow.yml
Due: none

test build_devops_container.yml
  .github/workflows/build_devops_container_workflow.yml
Due: none

Updated platform_pr_dev_workflow.yml to execute execute-ml-job-pipeline in container
  .github/workflows/platform_pr_dev_workflow.yml
Due: none

updated yaml_basic_flow_pr.yml to test pr
  .github/workflows/yaml_basic_flow_pr.yml
Due: none

initial func deployment
  .azure-pipelines/basic_flows_ci.yml
  .azure-pipelines/class_basic_flow_ci.yml
  .azure-pipelines/class_basic_flow_pr.yml
  .azure-pipelines/function_basic_flow_ci.yml
  .azure-pipelines/function_basic_flow_pr.yml
  .azure-pipelines/platform_ci_dev_pipeline.yml
  .azure-pipelines/templates/build_validation_pipeline.yml
  .azure-pipelines/templates/pf_onlineendpoint_deployment.yml
  .azure-pipelines/templates/platform_pr_dev_pipeline.yml
  .azure-pipelines/yaml_basic_flow_ci.yml
  .azure-pipelines/yaml_basic_flow_pr.yml
  .gitignore
  requirements.txt
  src/basic_func_impl/.funcignore
  src/basic_func_impl/function_basic_invoke/__init__.py
  src/basic_func_impl/function_basic_invoke/function.json
  src/basic_func_impl/host.json
  src/basic_func_impl/requirements.txt
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

a version has been added
  .azure-pipelines/basic_flows_ci.yml
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

trying .
  src/basic_func_impl/function_basic_invoke/__init__.py
Due: .azure-pipelines/class_basic_flow_ci.yml

adding --build-remote
  .azure-pipelines/basic_flows_ci.yml
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

Updated platform_pr_dev_workflow.yml to execute execute-ml-job-pipeline
  .github/workflows/build_devops_container_workflow.yml
  .github/workflows/platform_pr_dev_workflow.yml
  .github/workflows/yaml_basic_flow_pr.yml
Due: none

fixed acr_username
  .github/workflows/platform_pr_dev_workflow.yml
Due: none

trying relative path
  flows/function_basic_flow/standard/extract_entities.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/pr_to_development.yml

clean-up platform_pr_dev_workflow.yml
  .github/workflows/platform_pr_dev_workflow.yml
Due: none

provided access to docker run command
  .github/workflows/platform_pr_dev_workflow.yml
Due: none

trying to comment traces
  flows/function_basic_flow/standard/extract_entities.py
  mlops/run_function_basic_flow.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

added git config safe dir
  .github/workflows/platform_pr_dev_workflow.yml
Due: none

test parameters
  flows/function_basic_flow/standard/extract_entities.py
  src/basic_func_impl/function_basic_invoke/__init__.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/pr_to_development.yml

check load_dotenv
  src/basic_func_impl/function_basic_invoke/__init__.py
Due: .azure-pipelines/class_basic_flow_ci.yml

get
  src/basic_func_impl/function_basic_invoke/__init__.py
Due: .azure-pipelines/class_basic_flow_ci.yml

fix parameters
  .azure-pipelines/basic_flows_ci.yml
  src/basic_func_impl/function_basic_invoke/__init__.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

two more flows
  .azure-pipelines/basic_flows_ci.yml
  flows/function_basic_flow/standard/extract_entities.py
  src/basic_func_impl/class_basic_invoke/__init__.py
  src/basic_func_impl/class_basic_invoke/function.json
  src/basic_func_impl/yaml_basic_invoke/__init__.py
  src/basic_func_impl/yaml_basic_invoke/function.json
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

updated platform_pr_dev_workflow to use service principle in execute pf evaluation step
  .github/workflows/platform_pr_dev_workflow.yml
Due: none

fix github folder structure
  .github/workflows/basic_flow_ci.yml
  .github/workflows/class_basic_flow_ci.yml
  .github/workflows/function_basic_flow_ci.yml
  .github/workflows/platform_ci_dev_workflow.yml
  .github/workflows/yaml_basic_flow_ci.yml
  src/basic_func_impl/class_basic_invoke/__init__.py
  src/basic_func_impl/function_basic_invoke/__init__.py
  src/basic_func_impl/yaml_basic_invoke/__init__.py
Due: .azure-pipelines/class_basic_flow_ci.yml

revert branc name
  .github/workflows/basic_flow_ci.yml
Due: none

flake fix
  src/basic_func_impl/class_basic_invoke/__init__.py
  src/basic_func_impl/function_basic_invoke/__init__.py
  src/basic_func_impl/yaml_basic_invoke/__init__.py
Due: .azure-pipelines/class_basic_flow_ci.yml

updates
  .azure-pipelines/class_basic_flow_pr.yml
  .azure-pipelines/function_basic_flow_pr.yml
  .azure-pipelines/platform_ci_dev_pipeline.yml
  .azure-pipelines/platform_pr_dev_pipeline.yml
  .azure-pipelines/templates/Azure DevOps Setup.md
  .azure-pipelines/templates/build_and_push_devopsimage.yml
  .azure-pipelines/yaml_basic_flow_pr.yml
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

updates
  .azure-pipelines/class_basic_flow_pr.yml
  .azure-pipelines/templates/Azure DevOps Setup.md
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

fix
  .azure-pipelines/yaml_basic_flow_pr.yml
  .idea/workspace.xml
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

Updated platform_pr_dev_workflow.yml to execute execute-ml-job-pipeline
  .github/workflows/platform_pr_dev_workflow.yml
Due: none

added a step to set-up docker on the runner
  .github/workflows/platform_pr_dev_workflow.yml
Due: none

update for review comments
  .azure-pipelines/build_devops_image.yml
  .azure-pipelines/class_basic_flow_pr.yml
  .azure-pipelines/function_basic_flow_pr.yml
  .azure-pipelines/templates/platform_pr_dev_pipeline.yml
  .azure-pipelines/yaml_basic_flow_pr.yml
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

delete file
  .azure-pipelines/platform_ci_dev_pipeline.yml
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

add latest tag
  .azure-pipelines/build_devops_image.yml
  .azure-pipelines/class_basic_flow_pr.yml
  .azure-pipelines/function_basic_flow_pr.yml
  .azure-pipelines/templates/build_and_push_devopsimage.yml
  .azure-pipelines/yaml_basic_flow_pr.yml
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

initial eval of chat_with_pdf
  config/config.yaml
  flows/chat_with_pdf/evaluate/__init__.py
  flows/chat_with_pdf/evaluate/evaluate.py
  flows/chat_with_pdf/evaluate/flow_wrapper.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/pr_to_development.yml

DevOps pipeline with evaluation
  .azure-pipelines/basic_flows_ci.yml
  config/config.yaml
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

fix reference
  .azure-pipelines/basic_flows_ci.yml
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

removed dependency
  .azure-pipelines/basic_flows_ci.yml
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/class_basic_flow_ci.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

updated platform_pr_dev_workflow.yml
  .github/workflows/platform_pr_dev_workflow.yml
Due: none

Path conditions:
  .azure-pipelines/ci_to_development.yml: any of: flows, mlops, .azure-pipelines
  .azure-pipelines/class_basic_flow_ci.yml: any of: .azure-pipelines, mlops/common, mlops, flows/class_basic_flow, src, tests
  .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops, flows/named_entity_recognition, tests
  .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/named_entity_recognition, flows/named_entity_recognition, model/named_entity_recognition
  .azure-pipelines/pr_to_development.yml: any of: flows, mlops, .azure-pipelines
