Repository microsoft/mlops-promptflow-prompt: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

.azure-pipelines/ci_to_development.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: UsePythonVersion@0
    displayName: Setting Python version to 3.9 as required by functions
    inputs:
      versionSpec: '3.9'
      architecture: x64

.azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: ./templates/variables_template.yml
    parameters:
      env_name: ${{parameters.env_name}}
      model_type: ${{parameters.model_type}}
  - template: ./platform_ci_dev_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
  ...

.azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: ../templates/variables_template.yml
    parameters:
      env_name: ${{parameters.env_name}}
      model_type: ${{parameters.model_type}}
  - template: ./platform_pr_dev_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
  ...

.azure-pipelines/pr_to_development.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: build
    displayName: build_validation
    jobs:
    - template: build_validation_pipeline.yml
  - stage: execute
    displayName: execute_prompt_evaluation
    jobs:
    - job: execute_summarize_evaluation
      steps:
  ...

fix linting
  mlops/common/deployment/deploy_online_endpoint.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

updated for lint
  flows/plan_and_execute/standard/connection_utils.py
  flows/plan_and_execute/standard/executor.py
  flows/plan_and_execute/standard/tools.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/pr_to_development.yml

updated for lint
  flows/plan_and_execute/standard/executor.py
  flows/plan_and_execute/standard/planner.py
  flows/plan_and_execute/standard/solver.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/pr_to_development.yml

updated for lint
  flows/plan_and_execute/standard/executor.py
  flows/plan_and_execute/standard/flow.dag.yaml
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/pr_to_development.yml

initial clean-up pr github pipeline
  .github/actions/configure_devops_agent/action.yml
  .github/workflows/build_validation_workflow.yml
  .github/workflows/named_entity_recognition_pr_dev_workflow.yml
  .github/workflows/platform_pr_dev_workflow.yml
Due: none

Revert "updated to use Github Actions using Node.js.20"
  .github/actions/configure_devops_agent/action.yml
  .github/actions/execute_shell_code/action.yml
  .github/workflows/build_validation_workflow.yml
Due: none

clean-up basic pr github pipeline
  .github/workflows/named_entity_recognition_pr_dev_workflow.yml
Due: none

updated to use Github Actions using Node.js.20
  .github/actions/configure_devops_agent/action.yml
  .github/actions/execute_shell_code/action.yml
  .github/workflows/build_validation_workflow.yml
Due: none

initial clean-up pr github pipeline
  .github/workflows/named_entity_recognition_pr_dev_workflow.yml
Due: none

clean-up basic pr github pipeline
  .github/actions/generate_variables/action.yml
  .github/requirements/build_validation_requirements.txt
  .github/requirements/execute_job_requirements.txt
  .github/workflows/platform_ci_dev_workflow.yml
Due: none

remove evaluation flow
  .azure-pipelines/templates/configure_devops_agent.yml
  .github/actions/configure_devops_agent/action.yml
  flows/named_entity_recognition/evaluation/.promptflow/flow.tools.json
  flows/named_entity_recognition/evaluation/cleansing.py
  flows/named_entity_recognition/evaluation/evaluate.py
  flows/named_entity_recognition/evaluation/flow.dag.yaml
  flows/named_entity_recognition/evaluation/log_metrics.py
  flows/named_entity_recognition/evaluation/match.py
  flows/named_entity_recognition/evaluation/requirements.txt
  requirements.txt
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

class flow has been implemented
  .azure-pipelines/class_basic_flow_ci.yml
  .azure-pipelines/class_basic_flow_pr.yml
  .github/workflows/class_basic_flow_ci.yml
  .github/workflows/class_basic_flow_pr.yml
  config/config.yaml
  flows/class_basic_flow/evaluate/evaluate.py
  flows/class_basic_flow/standard/entity_template.prompty
  flows/class_basic_flow/standard/extract_entities.py
  flows/class_basic_flow/standard/flow.flex.yaml
  mlops/run_class_basic_flow.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

yaml_basic_flow has been implemented
  .azure-pipelines/yaml_basic_flow_ci.yml
  .azure-pipelines/yaml_basic_flow_pr.yml
  .github/workflows/yaml_basic_flow_ci.yml
  .github/workflows/yaml_basic_flow_pr.yml
  config/config.yaml
  flows/yaml_basic_flow/evaluate/evaluate.py
  flows/yaml_basic_flow/evaluation/evaluate.py
  flows/yaml_basic_flow/evaluation/evaluator.py
  flows/yaml_basic_flow/standard/flow.dag.yaml
  mlops/run_yaml_basic_flow.py
  src/evaluators/match_evaluator.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

linting
  README.md
  flows/class_basic_flow/evaluate/evaluate.py
  flows/class_basic_flow/standard/extract_entities.py
  flows/function_basic_flow/evaluate/evaluate.py
  flows/function_basic_flow/standard/extract_entities.py
  flows/yaml_basic_flow/evaluate/evaluate.py
  mlops/run_class_basic_flow.py
  mlops/run_function_basic_flow.py
  mlops/run_yaml_basic_flow.py
  src/evaluators/match_evaluator.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

excluding chat with pdf
  setup.cfg
Due: none

use variables
  .github/workflows/platform_ci_dev_workflow.yml
  .github/workflows/platform_pr_dev_workflow.yml
Due: none

subscription id for PRs
  .github/workflows/class_basic_flow_pr.yml
  .github/workflows/function_basic_flow_pr.yml
  .github/workflows/platform_pr_dev_workflow.yml
  .github/workflows/yaml_basic_flow_pr.yml
Due: none

removing index-url
  .azure-pipelines/templates/configure_devops_agent.yml
  .github/actions/configure_devops_agent/action.yml
  flows/yaml_basic_flow/evaluate/evaluate.py
  mlops/run_yaml_basic_flow.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

fix pf client
  mlops/run_yaml_basic_flow.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

introduced secrets to AzDO
  .azure-pipelines/platform_ci_dev_pipeline.yml
  .azure-pipelines/platform_pr_dev_pipeline.yml
  .azure-pipelines/templates/execute_azurecli_code.yml
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

a workaround for yaml flows
  flows/yaml_basic_flow/evaluate/evaluate.py
  flows/yaml_basic_flow/evaluate/flow_wrapper.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/pr_to_development.yml

removed aks as for now
  .github/workflows/named_entity_recognition_cd_aks_dev_workflow.yml
  .github/workflows/platform_cd_aks_dev_workflow.yml
Due: none

added a github workflow to create devops pre-build container .yml
  .github/workflows/build_devops_container_workflow.yml
Due: none

testing PR platform_pr_dev_workflow.yml with container
  .github/workflows/build_devops_container_workflow.yml
  .github/workflows/class_basic_flow_pr.yml
  .github/workflows/function_basic_flow_pr.yml
  .github/workflows/platform_pr_dev_workflow.yml
  .github/workflows/yaml_basic_flow_pr.yml
Due: none

updated pr pipeline GitHub Actions doesn't directly support using secrets or workflow inputs within a container definition.
  .github/workflows/platform_pr_dev_workflow.yml
  .github/workflows/yaml_basic_flow_pr.yml
Due: none

fixed inputs to yaml_basic_flow_pr.yml
  .github/workflows/yaml_basic_flow_pr.yml
Due: none

updated platform_pr_dev_workflow.yml
  .github/workflows/platform_pr_dev_workflow.yml
Due: none

testing platform_pr_dev_workflow.yml with inputs
  .github/workflows/platform_pr_dev_workflow.yml
Due: none

testing platform_pr with inputs and latest image
  .github/workflows/platform_pr_dev_workflow.yml
Due: none

added checkout repositry step to platform_pr_dev_workflow.yml
  .github/workflows/platform_pr_dev_workflow.yml
Due: none

testing platform_pr
  .github/workflows/platform_pr_dev_workflow.yml
Due: none

testing platform_pr_dev_workflow.yml and build_validation.yml with container
  .github/workflows/build_validation_workflow.yml
  .github/workflows/platform_pr_dev_workflow.yml
Due: none

updated plan_and_execute flow to new repo structure
  .env.sample
  config/config.yaml
  data/plan_and_execute_data.jsonl
  data/plan_and_execute_eval_data.jsonl
  flows/plan_and_execute/standard/requirements.txt
  mlops/run_plan_and_execute.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

updated config.yaml and .env.sample for consistency
  .env.sample
  config/config.yaml
Due: none

updated config.yaml for consistency
  config/config.yaml
  mlops/run_plan_and_execute.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

testing build_devops_container_workflow.yml
  .github/workflows/build_devops_container_workflow.yml
Due: none

test build_devops_container_workflow.yml
  .github/workflows/build_devops_container_workflow.yml
Due: none

test build_devops_container_workflow.yml
  .devcontainer/Dockerfile
  .github/workflows/build_devops_container_workflow.yml
Due: none

Path conditions:
  .azure-pipelines/ci_to_development.yml: any of: flows, mlops, .azure-pipelines
  .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops, flows/named_entity_recognition, tests
  .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/named_entity_recognition, flows/named_entity_recognition, model/named_entity_recognition
  .azure-pipelines/pr_to_development.yml: any of: flows, mlops, .azure-pipelines
