Repository microsoft/mlops-promptflow-prompt: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

.azure-pipelines/ci_to_development.yml:

pr: none
trigger:
  branches:
   include:
     - development
  paths:
    include:
      - flows/*
      - mlops/*
      - .azure-pipelines/*

pool:
  vmImage: ubuntu-latest

variables:
- group: MLOps-DEV-VG-pf

steps:
- task: UsePythonVersion@0
  displayName: "Setting Python version to 3.9 as required by functions"
  inputs:
    versionSpec: '3.9'
    architecture: 'x64'

.azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml:

pr: none
trigger:
  branches:
   include:
     - development
  paths:
    include:
      - .azure-pipelines/*
      - mlops/common/*
      - mlops/*
      - flows/named_entity_recognition/*
      - tests

pool:
  vmImage: ubuntu-latest


variables:
- group: mlops_platform_dev_vg

parameters:
 - name: env_name
   displayName: "Execution Environment"
   default: "dev"
 - name: model_type
   displayName: "model type"
   default: "named_entity_recognition"


stages:
  - template: ./templates/variables_template.yml
    parameters:
      env_name: ${{parameters.env_name}}
      model_type: ${{parameters.model_type}}
  - template: ./platform_ci_dev_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
      model_type: ${{ parameters.model_type }}

.azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml:

pr: none
trigger:
  branches:
   include:
     - development
  paths:
    include:
      - .azure-pipelines/*
      - mlops/common/*
      - mlops/named_entity_recognition/*
      - flows/named_entity_recognition/*
      - model/named_entity_recognition/*

pool:
  vmImage: ubuntu-latest


variables:
- group: mlops_platform_dev_vg

parameters:
 - name: env_name
   displayName: "Execution Environment"
   default: "pr"
 - name: model_type
   displayName: "model type"
   default: "named_entity_recognition"

stages:
  - template: ../templates/variables_template.yml
    parameters:
      env_name: ${{parameters.env_name}}
      model_type: ${{parameters.model_type}}
  - template: ./platform_pr_dev_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
      model_type: ${{ parameters.model_type }}

.azure-pipelines/pr_to_development.yml:

trigger: none
pr:
  branches:
   include:
     - development
  paths:
    include:
      - flows/*
      - mlops/*
      - .azure-pipelines/*

pool:
  vmImage: ubuntu-latest

variables:
- group: MLOps-DEV-VG-pf

stages:
    - stage: build
      displayName: build_validation
      jobs:
        - template: build_validation_pipeline.yml

    - stage: execute
      displayName: execute_prompt_evaluation
      jobs:
      - job: execute_summarize_evaluation
        steps:
        - script: |
            python -m pip install --upgrade pip
            pip install -r .azure-pipelines/requirements/evaluation_prompt_requirements.txt
          displayName: "Load Python Dependencies"
        - script: |
            python -m mlops.create_connection
          env:
            CONNECTION_NAME: azure_open_ai_connection
            API_KEY: $(API_KEY)
            API_BASE: $(API_BASE)
            API_VERSION: 2023-03-15-preview
            API_TYPE: azure
          displayName: "Initialize PF Connection"
        - script: |
            python -m mlops.evaluate_basic_with_llm
          displayName: "Initialize PF Connection"

Todos
  .github/workflows/platform_ci_dev_workflow.yml
Due: none

Added Azure container registry and pf flow build docker to platform_ci_dev_workflow.yml
  .github/workflows/named_entity_recognition_ci_dev_workflow.yml
  .github/workflows/platform_ci_dev_workflow.yml
Due: none

config changes and refactor
  README.md
  config/config.yaml
  mlops/azure_prompt_eval.py
  mlops/azure_prompt_pipeline.py
  mlops/connections/azure_create_acs_connection.py
  mlops/connections/azure_create_aoai_connection.py
  mlops/connections/local_create_acs_connection.py
  mlops/connections/local_create_aoai_connection.py
  mlops/local_prompt_eval.py
  mlops/local_prompt_pipeline.py
  mlops/local_prompt_test.py
  requirements.txt
  shared/__init__.py
  shared/cleansing.py
  shared/config_utils.py
  shared/flow_utils.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

Updated the platform_ci_dev_workflow.yml with ACR_NAME env variable, updated Azure Container registry step and docker build
  .github/workflows/platform_ci_dev_workflow.yml
Due: none

resove Lint warnings and errors
  mlops/azure_prompt_eval.py
  mlops/azure_prompt_pipeline.py
  mlops/connections/azure_create_acs_connection.py
  mlops/connections/azure_create_aoai_connection.py
  mlops/connections/local_create_acs_connection.py
  mlops/connections/local_create_aoai_connection.py
  mlops/local_prompt_eval.py
  mlops/local_prompt_pipeline.py
  mlops/local_prompt_test.py
  shared/config_utils.py
  shared/flow_utils.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

Updated platform_ci_dev_workflow.yml with secret ACR_PASSWORD
  .github/workflows/platform_ci_dev_workflow.yml
Due: none

few more Lint changes
  mlops/azure_prompt_eval.py
  mlops/azure_prompt_pipeline.py
  mlops/connections/azure_create_acs_connection.py
  mlops/local_prompt_pipeline.py
  mlops/local_prompt_test.py
  shared/__init__.py
  shared/config_utils.py
  shared/flow_utils.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

Updated platform_ci_dev_workflow.yml
  .github/workflows/platform_ci_dev_workflow.yml
Due: none

resolve LINT issues
  mlops/local_prompt_eval.py
  shared/config_utils.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

pipeline changes
  .github/workflows/platform_cd_aks_dev_workflow.yml
  .github/workflows/platform_ci_dev_workflow.yml
  .github/workflows/platform_pr_dev_workflow.yml
  README.md
  config/config.yaml
Due: none

fix env issues
  .github/workflows/platform_cd_aks_dev_workflow.yml
  .github/workflows/platform_ci_dev_workflow.yml
  .github/workflows/platform_pr_dev_workflow.yml
Due: none

fix yaml file
  config/config.yaml
Due: none

fix issues
  mlops/azure_prompt_eval.py
  mlops/azure_prompt_pipeline.py
  mlops/local_prompt_eval.py
  mlops/local_prompt_pipeline.py
  mlops/local_prompt_test.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

change encoding
  config/config.yaml
  mlops/azure_prompt_pipeline.py
  mlops/local_prompt_pipeline.py
  shared/config_utils.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

fix space issues
  mlops/local_prompt_pipeline.py
  shared/config_utils.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

debug platform_ci_dev_workflow.yml acr step
  .github/workflows/platform_ci_dev_workflow.yml
Due: none

testing build_and_deploy acr step platform_ci_dev_workflow.yml
  .github/workflows/platform_ci_dev_workflow.yml
Due: none

debug login to acr azure/docker-login@v1 in platform_ci_dev_workflow.yml
  .github/workflows/platform_ci_dev_workflow.yml
Due: none

fixes from local testing
  .gitignore
  config/config.yaml
  mlops/azure_prompt_eval.py
  mlops/azure_prompt_pipeline.py
  mlops/connections/azure_create_acs_connection.py
  mlops/connections/azure_create_aoai_connection.py
  mlops/connections/local_create_acs_connection.py
  mlops/connections/local_create_aoai_connection.py
  mlops/local_prompt_eval.py
  mlops/local_prompt_pipeline.py
  mlops/local_prompt_test.py
  shared/config_utils.py
  shared/flow_utils.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

Updated ACR_PASSWORD and ACR_USER_NAME in both named_entity_recognition_ci.yml and platform_ci_dev_workflow.yml
  .github/workflows/named_entity_recognition_ci_dev_workflow.yml
  .github/workflows/platform_ci_dev_workflow.yml
Due: none

fix Lint errors
  shared/config_utils.py
Due: none

Updated ACR_PASSWORD and ACR_USER_NAME in platform_ci_dev_workflow.yml secrets section
  .github/workflows/platform_ci_dev_workflow.yml
Due: none

Added build docker
  .github/workflows/platform_ci_dev_workflow.yml
Due: none

change dir
  .github/workflows/platform_ci_dev_workflow.yml
Due: none

add mlconfig class
  mlops/azure_prompt_eval.py
  mlops/azure_prompt_pipeline.py
  mlops/connections/azure_create_acs_connection.py
  mlops/connections/azure_create_aoai_connection.py
  mlops/connections/local_create_acs_connection.py
  mlops/connections/local_create_aoai_connection.py
  mlops/local_prompt_eval.py
  mlops/local_prompt_pipeline.py
  mlops/local_prompt_test.py
  shared/config_utils.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

fix LINT issues
  shared/config_utils.py
Due: none

lint issue
  shared/config_utils.py
Due: none

added check for resource group
  .github/workflows/platform_ci_dev_workflow.yml
Due: none

added app service plan
  .github/workflows/platform_ci_dev_workflow.yml
Due: none

updates for review comments'
  config/config.yaml
  config/model_config.json
  mlops/azure_prompt_eval.py
  mlops/azure_prompt_pipeline.py
  mlops/connections/azure_create_acs_connection.py
  mlops/connections/azure_create_aoai_connection.py
  mlops/connections/local_create_acs_connection.py
  mlops/connections/local_create_aoai_connection.py
  mlops/local_prompt_eval.py
  mlops/local_prompt_pipeline.py
  mlops/local_prompt_test.py
  shared/config_utils.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

fix lint issue
  shared/config_utils.py
Due: none

check for env variables
  mlops/common/mlflow_tools.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

added app service plan check
  .github/workflows/platform_ci_dev_workflow.yml
Due: none

removed check
  .github/workflows/platform_ci_dev_workflow.yml
Due: none

updated app service plan to west us
  .github/workflows/platform_ci_dev_workflow.yml
Due: none

added check
  .github/workflows/platform_ci_dev_workflow.yml
Due: none

Added webapp
  .github/workflows/platform_ci_dev_workflow.yml
Due: none

added web app as part of promptflow standrad flow
  .github/workflows/platform_ci_dev_workflow.yml
Due: none

updated platform_ci_dev_workflow with web app cleaned comments
  .github/workflows/platform_ci_dev_workflow.yml
Due: none

fixed app name
  .github/workflows/platform_ci_dev_workflow.yml
Due: none
