Repository microsoft/mlops-promptflow-prompt: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

.azure-pipelines/ci_to_development.yml:

pr: none
trigger:
  branches:
   include:
     - development
  paths:
    include:
      - flows/*
      - mlops/*
      - .azure-pipelines/*

pool:
  vmImage: ubuntu-latest

variables:
- group: MLOps-DEV-VG-pf

steps:
- task: UsePythonVersion@0
  displayName: "Setting Python version to 3.9 as required by functions"
  inputs:
    versionSpec: '3.9'
    architecture: 'x64'

.azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml:

pr: none
trigger:
  branches:
   include:
     - development
  paths:
    include:
      - .azure-pipelines/*
      - mlops/common/*
      - mlops/*
      - flows/named_entity_recognition/*
      - tests

pool:
  vmImage: ubuntu-latest


variables:
- group: mlops_platform_dev_vg

parameters:
 - name: env_name
   displayName: "Execution Environment"
   default: "dev"
 - name: model_type
   displayName: "model type"
   default: "named_entity_recognition"


stages:
  - template: ./templates/variables_template.yml
    parameters:
      env_name: ${{parameters.env_name}}
      model_type: ${{parameters.model_type}}
  - template: ./platform_ci_dev_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
      model_type: ${{ parameters.model_type }}

.azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml:

pr: none
trigger:
  branches:
   include:
     - development
  paths:
    include:
      - .azure-pipelines/*
      - mlops/common/*
      - mlops/named_entity_recognition/*
      - flows/named_entity_recognition/*
      - model/named_entity_recognition/*

pool:
  vmImage: ubuntu-latest


variables:
- group: mlops_platform_dev_vg

parameters:
 - name: env_name
   displayName: "Execution Environment"
   default: "pr"
 - name: model_type
   displayName: "model type"
   default: "named_entity_recognition"

stages:
  - template: ../templates/variables_template.yml
    parameters:
      env_name: ${{parameters.env_name}}
      model_type: ${{parameters.model_type}}
  - template: ./platform_pr_dev_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
      model_type: ${{ parameters.model_type }}

.azure-pipelines/pr_to_development.yml:

trigger: none
pr:
  branches:
   include:
     - development
  paths:
    include:
      - flows/*
      - mlops/*
      - .azure-pipelines/*

pool:
  vmImage: ubuntu-latest

variables:
- group: MLOps-DEV-VG-pf

stages:
    - stage: build
      displayName: build_validation
      jobs:
        - template: build_validation_pipeline.yml

    - stage: execute
      displayName: execute_prompt_evaluation
      jobs:
      - job: execute_summarize_evaluation
        steps:
        - script: |
            python -m pip install --upgrade pip
            pip install -r .azure-pipelines/requirements/evaluation_prompt_requirements.txt
          displayName: "Load Python Dependencies"
        - script: |
            python -m mlops.create_connection
          env:
            CONNECTION_NAME: azure_open_ai_connection
            API_KEY: $(API_KEY)
            API_BASE: $(API_BASE)
            API_VERSION: 2023-03-15-preview
            API_TYPE: azure
          displayName: "Initialize PF Connection"
        - script: |
            python -m mlops.evaluate_basic_with_llm
          displayName: "Initialize PF Connection"

Add Github Workflows (#16)
  .github/actions/aml_real_deployment/action.yml
  .github/actions/configure_azureml_agent/action.yml
  .github/actions/execute_shell_code/action.yml
  .github/actions/generate_variables/action.yml
  .github/requirements/build_validation_requirements.txt
  .github/requirements/execute_job_requirements.txt
  .github/workflows.md
  .github/workflows/build_validation_workflow.yml
  .github/workflows/named_entity_recognition_ci_dev_workflow.yml
  .github/workflows/named_entity_recognition_pr_dev_workflow.yml
  .github/workflows/platform_ci_dev_workflow.yml
  .github/workflows/platform_pr_dev_workflow.yml
  config/model_config.json
  flows/named_entity_recognition/evaluation/requirements.txt
  flows/named_entity_recognition/standard/requirements.txt
  mlops/azure_prompt_eval.py
  mlops/azure_prompt_pipeline.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

quick test of CI implementation
  .github/workflows/named_entity_recognition_ci_dev_workflow.yml
  .github/workflows/platform_ci_dev_workflow.yml
Due: none

trying forcing exec_environment
  .github/workflows/named_entity_recognition_ci_dev_workflow.yml
  .github/workflows/named_entity_recognition_pr_dev_workflow.yml
  .github/workflows/platform_ci_dev_workflow.yml
Due: none

BuildContext try
  flows/named_entity_recognition/standard/dockerfile
  mlops/common/deployment/provision_deployment.py
  mlops/named_entity_recognition/configs/deployment_config.json
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

uncomment needed code
  .github/workflows/named_entity_recognition_ci_dev_workflow.yml
  .github/workflows/platform_ci_dev_workflow.yml
Due: none

fix naming
  flows/named_entity_recognition/standard/ Dockerfile
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

fix deployment folder
  flows/named_entity_recognition/standard/docker/ Dockerfile
  mlops/common/deployment/provision_deployment.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

move docker into own dir
  flows/named_entity_recognition/standard/docker/requirements.txt
  mlops/common/deployment/provision_deployment.py
  mlops/named_entity_recognition/configs/deployment_config.json
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

register environment.
  mlops/common/deployment/provision_deployment.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

fix name
  flows/named_entity_recognition/standard/docker/Dockerfile
  flows/named_entity_recognition/standard/docker/requirements.txt
  mlops/common/deployment/provision_deployment.py
  mlops/named_entity_recognition/configs/deployment_config.json
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

requirements duplicated
  flows/named_entity_recognition/standard/docker/Dockerfile
  flows/named_entity_recognition/standard/docker/requirements.txt
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

test 4
  flows/named_entity_recognition/standard/docker/requirements.txt
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

CI hotfix - specify dev environment (#17)
  .github/workflows/named_entity_recognition_ci_dev_workflow.yml
  .github/workflows/named_entity_recognition_pr_dev_workflow.yml
  .github/workflows/platform_ci_dev_workflow.yml
Due: none

minor update - pass in build id when provisioning deployment
  .github/actions/aml_real_deployment/action.yml
Due: none

:hammer: missing some references to build id.
  .github/actions/aml_real_deployment/action.yml
Due: none

try adding a workflow dispatch for testing
  .github/workflows/named_entity_recognition_ci_dev_workflow.yml
Due: none

:hammer:
  .github/workflows/named_entity_recognition_ci_dev_workflow.yml
Due: none

revert pr to push
  .github/workflows/named_entity_recognition_ci_dev_workflow.yml
Due: none

Missing build_id argument (#19)
  .github/actions/aml_real_deployment/action.yml
Due: none

enable flake
  .azure-pipelines/build_validation_pipeline.yml
  setup.cfg
  tests/cleansing_test.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

black improvements
  .azure-pipelines/requirements/build_validation_requirements.txt
  .azure-pipelines/requirements/execute_job_requirements.txt
  flows/named_entity_recognition/evaluation/cleansing.py
  flows/named_entity_recognition/evaluation/log_metrics.py
  flows/named_entity_recognition/evaluation/match.py
  flows/named_entity_recognition/standard/cleansing.py
  mlops/azure_prompt_eval.py
  mlops/azure_prompt_pipeline.py
  mlops/common/deployment/provision_deployment.py
  mlops/common/deployment/provision_endpoint.py
  mlops/common/deployment/register_model.py
  mlops/common/mlflow_tools.py
  mlops/common/register_data_asset.py
  mlops/connections/azure_create_acs_connection.py
  mlops/connections/azure_create_aoai_connection.py
  mlops/connections/local_create_acs_connection.py
  mlops/connections/local_create_aoai_connection.py
  mlops/local_prompt_eval.py
  mlops/local_prompt_pipeline.py
  mlops/local_prompt_test.py
  requirements.txt
  tests/cleansing_test.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

__init__.py has been excluded from the list
  setup.cfg
Due: none

all non-doc issues
  mlops/azure_prompt_eval.py
  mlops/azure_prompt_pipeline.py
  mlops/common/deployment/provision_deployment.py
  mlops/connections/azure_create_acs_connection.py
  mlops/connections/azure_create_aoai_connection.py
  mlops/connections/local_create_acs_connection.py
  mlops/connections/local_create_aoai_connection.py
  mlops/local_prompt_eval.py
  mlops/local_prompt_pipeline.py
  mlops/local_prompt_test.py
  setup.cfg
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

improve gitignore
  .gitignore
Due: none

cleaninsing_test fix
  tests/cleansing_test.py
Due: .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml

Update workflows.md
  .github/workflows.md
Due: none

missing module strings
  flows/named_entity_recognition/evaluation/cleansing.py
  flows/named_entity_recognition/evaluation/log_metrics.py
  flows/named_entity_recognition/evaluation/match.py
  flows/named_entity_recognition/standard/cleansing.py
  mlops/azure_prompt_eval.py
  mlops/azure_prompt_pipeline.py
  mlops/common/deployment/provision_deployment.py
  mlops/common/deployment/provision_endpoint.py
  mlops/common/deployment/register_model.py
  mlops/common/mlflow_tools.py
  mlops/common/register_data_asset.py
  mlops/connections/azure_create_acs_connection.py
  mlops/connections/azure_create_aoai_connection.py
  mlops/connections/local_create_acs_connection.py
  mlops/connections/local_create_aoai_connection.py
  mlops/local_prompt_eval.py
  mlops/local_prompt_pipeline.py
  mlops/local_prompt_test.py
  tests/is_match_test.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

added comments to the flows
  flows/named_entity_recognition/evaluation/cleansing.py
  flows/named_entity_recognition/evaluation/log_metrics.py
  flows/named_entity_recognition/evaluation/match.py
  flows/named_entity_recognition/standard/cleansing.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

more doc strings
  mlops/common/deployment/provision_deployment.py
  mlops/common/deployment/provision_endpoint.py
  mlops/common/deployment/register_model.py
  mlops/common/mlflow_tools.py
  mlops/connections/azure_create_acs_connection.py
  mlops/connections/azure_create_aoai_connection.py
  mlops/connections/local_create_acs_connection.py
  mlops/connections/local_create_aoai_connection.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

more doc strings
  mlops/azure_prompt_eval.py
  mlops/azure_prompt_pipeline.py
  mlops/local_prompt_eval.py
  mlops/local_prompt_pipeline.py
  mlops/local_prompt_test.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

flake with no errors
  README.md
  mlops/azure_prompt_eval.py
  mlops/azure_prompt_pipeline.py
  mlops/common/deployment/provision_deployment.py
  mlops/common/deployment/provision_endpoint.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

Updated model_config.json with mlops-promptflow rg details
  config/model_config.json
Due: none

added workflow_dispatch to pr
  .github/workflows/named_entity_recognition_pr_dev_workflow.yml
Due: none

Update named_entity_recognition_pr_dev_workflow.yml
  .github/workflows/named_entity_recognition_pr_dev_workflow.yml
Due: none

added flake8 linting platform_pr_dev_workflow.yml
  .github/workflows/platform_pr_dev_workflow.yml
Due: none

removed the linting from platform_pr_dev_workflow.yml,
  .github/workflows/platform_pr_dev_workflow.yml
Due: none

Added flake 8 linting to build_validation_workflow.yml file
  .github/workflows/build_validation_workflow.yml
Due: none

Added integration test to pr workflow platform_pr_dev_workflow.yml
  .github/workflows/platform_pr_dev_workflow.yml
Due: none

Created an integration_test for ner
  tests/integration_end_to_end_named_entity_recognition_test.py
Due: .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml

Updated integration_end_to_end_named_entity_recognition_test.py
  tests/integration_end_to_end_named_entity_recognition_test.py
Due: .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml
