Repository microsoft/mlops-promptflow-prompt: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

.azure-pipelines/ci_to_development.yml:

pr: none
trigger:
  branches:
   include:
     - development
  paths:
    include:
      - flows/*
      - mlops/*
      - .azure-pipelines/*

pool:
  vmImage: ubuntu-latest

variables:
- group: MLOps-DEV-VG-pf

steps:
- task: UsePythonVersion@0
  displayName: "Setting Python version to 3.9 as required by functions"
  inputs:
    versionSpec: '3.9'
    architecture: 'x64'

.azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml:

pr: none
trigger:
  branches:
   include:
     - development
  paths:
    include:
      - .azure-pipelines/*
      - mlops/common/*
      - mlops/named_entity_recognition/*
      - model/named_entity_recognition/*

pool:
  vmImage: ubuntu-latest


variables:
- group: mlops_platform_dev_vg

parameters:
 - name: env_name
   displayName: "Execution Environment"
   default: "dev"
 - name: model_type
   displayName: "model type"
   default: "named_entity_recognition"


stages:
  - template: ./templates/variables_template.yml
    parameters:
      env_name: ${{parameters.env_name}}
      model_type: ${{parameters.model_type}}
  - template: ./platform_ci_dev_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
      model_type: ${{ parameters.model_type }}

.azure-pipelines/pr_to_development.yml:

trigger: none
pr:
  branches:
   include:
     - development
  paths:
    include:
      - flows/*
      - mlops/*
      - .azure-pipelines/*

pool:
  vmImage: ubuntu-latest

variables:
- group: MLOps-DEV-VG-pf

stages:
    - stage: build
      displayName: build_validation
      jobs:
        - template: build_validation_pipeline.yml

    - stage: execute
      displayName: execute_prompt_evaluation
      jobs:
      - job: execute_summarize_evaluation
        steps:
        - script: |
            python -m pip install --upgrade pip
            pip install -r .azure-pipelines/requirements/evaluation_prompt_requirements.txt
          displayName: "Load Python Dependencies"
        - script: |
            python -m mlops.create_connection
          env:
            CONNECTION_NAME: azure_open_ai_connection
            API_KEY: $(API_KEY)
            API_BASE: $(API_BASE)
            API_VERSION: 2023-03-15-preview
            API_TYPE: azure
          displayName: "Initialize PF Connection"
        - script: |
            python -m mlops.evaluate_basic_with_llm
          displayName: "Initialize PF Connection"

mlops scripts are on the top level
  .azure-pipelines/platform_ci_dev_pipeline.yml
  .azure-pipelines/platform_pr_dev_pipeline.yml
  mlops/named_entity_recognition/prompt_eval.py
  mlops/named_entity_recognition/prompt_pipeline.py
  mlops/named_entity_recognition/src/__init__.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

rename prompt files prior to support local
  .azure-pipelines/platform_ci_dev_pipeline.yml
  mlops/named_entity_recognition/azure_prompt_eval.py
  mlops/named_entity_recognition/azure_prompt_pipeline.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

the flow had been moved into flows folder
  .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml
  .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml
  config/model_config.json
  flows/__init__.py
  flows/named_entity_recognition/__init__.py
  flows/named_entity_recognition/configs/data_config.json
  flows/named_entity_recognition/configs/deployment_config.json
  flows/named_entity_recognition/data/data.jsonl
  flows/named_entity_recognition/data/eval_data.jsonl
  flows/named_entity_recognition/flows/evaluation/.promptflow/flow.tools.json
  flows/named_entity_recognition/flows/evaluation/cleansing.py
  flows/named_entity_recognition/flows/evaluation/flow.dag.yaml
  flows/named_entity_recognition/flows/evaluation/is_match_test.py
  flows/named_entity_recognition/flows/evaluation/log_metrics.py
  flows/named_entity_recognition/flows/evaluation/match.py
  flows/named_entity_recognition/flows/evaluation/requirements.txt
  flows/named_entity_recognition/flows/standard/.promptflow/flow.tools.json
  flows/named_entity_recognition/flows/standard/NER_LLM.jinja2
  flows/named_entity_recognition/flows/standard/cleansing.py
  flows/named_entity_recognition/flows/standard/cleansing_test.py
  flows/named_entity_recognition/flows/standard/eval_test.py
  flows/named_entity_recognition/flows/standard/flow.dag.yaml
  flows/named_entity_recognition/flows/standard/requirements.txt
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

Local environment doc
  .azure-pipelines/requirements/build_validation_requirements.txt
  .azure-pipelines/requirements/execute_job_requirements.txt
  conda_environment.md
  requirements.txt
  setup.cfg
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

better requirement
  flows/named_entity_recognition/flows/evaluation/requirements.txt
  flows/named_entity_recognition/flows/standard/requirements.txt
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/pr_to_development.yml

env.sample has been added
  env.sample
Due: none

local connection script
  README.md
  mlops/named_entity_recognition/local_create_aoai_connection.py
  mlops/named_entity_recognition/local_prompt_eval.py
  mlops/named_entity_recognition/local_prompt_pipeline.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

local execution as been added
  README.md
  mlops/named_entity_recognition/local_prompt_eval.py
  mlops/named_entity_recognition/local_prompt_pipeline.py
  mlops/named_entity_recognition/local_prompt_test.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

model folder has been removed
  .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml
  .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml
  flows/named_entity_recognition/configs/deployment_config.json
  model/named_entity_recognition/environment/conda.yml
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

try connection name
  mlops/named_entity_recognition/local_prompt_eval.py
  mlops/named_entity_recognition/local_prompt_pipeline.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

connection name for local execution
  env.sample
  mlops/named_entity_recognition/local_prompt_eval.py
  mlops/named_entity_recognition/local_prompt_pipeline.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

fix pr build
  .azure-pipelines/platform_pr_dev_pipeline.yml
  env.sample
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

fix template folder
  .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

index-url removed
  flows/named_entity_recognition/flows/evaluation/requirements.txt
  flows/named_entity_recognition/flows/standard/requirements.txt
  requirements.txt
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/pr_to_development.yml

keyvault
  .azure-pipelines/templates/variables_template.yml
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

fix workspaces
  .azure-pipelines/templates/configure_azureml_agent.yml
  config/model_config.json
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

fix data
  .azure-pipelines/platform_pr_dev_pipeline.yml
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

conda file commented
  mlops/common/deployment/provision_deployment.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

test new sdk
  .azure-pipelines/templates/configure_azureml_agent.yml
  conda_environment.md
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

fix PFClient
  mlops/named_entity_recognition/azure_prompt_eval.py
  mlops/named_entity_recognition/azure_prompt_pipeline.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

move cleansing test
  test/named_entity_recognition/__init__.py
  test/named_entity_recognition/cleansing_test.py
Due: none

fix path
  test/named_entity_recognition/cleansing_test.py
Due: none

remove pytest condition
  .azure-pipelines/build_validation_pipeline.yml
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

fix build requirements
  .azure-pipelines/build_validation_pipeline.yml
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

moving all the tests
  .azure-pipelines/build_validation_pipeline.yml
  .azure-pipelines/platform_pr_dev_pipeline.yml
  test/named_entity_recognition/__init__.py
  tests/__init__.py
  tests/cleansing_test.py
  tests/eval_test.py
  tests/is_match_test.py
  tests/test_to_delete.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

tests have been renamed
  tests/cleansing_test.py
  tests/eval_test.py
  tests/is_match_test.py
  tests/test_to_delete.py
Due: none

remove not needed files
  mlops/common/deployment/test_model_on_aml.py
  mlops/named_entity_recognition/__init__.py
  tests/eval_test.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

move configs
  config/model_config.json
  flows/named_entity_recognition/evaluation/.promptflow/flow.tools.json
  flows/named_entity_recognition/evaluation/cleansing.py
  flows/named_entity_recognition/evaluation/flow.dag.yaml
  flows/named_entity_recognition/evaluation/log_metrics.py
  flows/named_entity_recognition/evaluation/match.py
  flows/named_entity_recognition/evaluation/requirements.txt
  flows/named_entity_recognition/standard/.promptflow/flow.tools.json
  flows/named_entity_recognition/standard/NER_LLM.jinja2
  flows/named_entity_recognition/standard/cleansing.py
  flows/named_entity_recognition/standard/flow.dag.yaml
  flows/named_entity_recognition/standard/requirements.txt
  mlops/named_entity_recognition/azure_prompt_pipeline.py
  mlops/named_entity_recognition/configs/data_config.json
  mlops/named_entity_recognition/configs/deployment_config.json
  mlops/named_entity_recognition/local_prompt_eval.py
  mlops/named_entity_recognition/local_prompt_pipeline.py
  mlops/named_entity_recognition/local_prompt_test.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

AZURE_RM_SVC_CONNECTION has been removed
  .azure-pipelines/templates/experiment_variables.yml
  .azure-pipelines/templates/variables_template.yml
  config/model_config.json
  mlops/named_entity_recognition/configs/data_config.json
  mlops/named_entity_recognition/configs/deployment_config.json
  tests/cleansing_test.py
  tests/is_match_test.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

few improvements
  .azure-pipelines/build_validation_pipeline.yml
  .azure-pipelines/templates/configure_azureml_agent.yml
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

test 2
  mlops/named_entity_recognition/azure_prompt_pipeline.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

test new features
  mlops/named_entity_recognition/azure_prompt_pipeline.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

eval new features
  mlops/named_entity_recognition/azure_prompt_eval.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

comment manual approval stage
  .azure-pipelines/platform_ci_dev_pipeline.yml
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

description fix
  mlops/named_entity_recognition/configs/deployment_config.json
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

how to doc
  README.md
Due: none

forgotten steps
  README.md
Due: none

address issues related to ambiguity of using models vs flows
  .azure-pipelines/templates/experiment_variables.yml
  .azure-pipelines/templates/variables_template.yml
  config/model_config.json
  mlops/common/deployment/provision_deployment.py
  mlops/named_entity_recognition/configs/data_config.json
  mlops/named_entity_recognition/configs/deployment_config.json
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

remove unwanted imports, code
  mlops/common/deployment/provision_deployment.py
  mlops/common/deployment/provision_endpoint.py
  mlops/common/deployment/register_model.py
  mlops/common/register_data_asset.py
  mlops/named_entity_recognition/configs/data_config.json
  mlops/named_entity_recognition/configs/deployment_config.json
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

update register model code and also added tests to pipeline trigger
  .azure-pipelines/build_validation_pipeline.yml
  .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml
  .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml
  .azure-pipelines/platform_ci_dev_pipeline.yml
  mlops/common/deployment/register_model.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml
