Repository microsoft/mlops-promptflow-prompt: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

.azure-pipelines/ci_to_development.yml:

pr: none
trigger:
  branches:
   include:
     - development
  paths:
    include:
      - flows/*
      - mlops/*
      - .azure-pipelines/*

pool:
  vmImage: ubuntu-latest

variables:
- group: MLOps-DEV-VG-pf

steps:
- task: UsePythonVersion@0
  displayName: "Setting Python version to 3.9 as required by functions"
  inputs:
    versionSpec: '3.9'
    architecture: 'x64'

.azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml:

pr: none
trigger:
  branches:
   include:
     - development
  paths:
    include:
      - .azure-pipelines/*
      - mlops/common/*
      - mlops/*
      - flows/named_entity_recognition/*
      - tests

pool:
  vmImage: ubuntu-latest


variables:
- group: mlops_platform_dev_vg

parameters:
 - name: env_name
   displayName: "Execution Environment"
   default: "dev"
 - name: model_type
   displayName: "model type"
   default: "named_entity_recognition"


stages:
  - template: ./templates/variables_template.yml
    parameters:
      env_name: ${{parameters.env_name}}
      model_type: ${{parameters.model_type}}
  - template: ./platform_ci_dev_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
      model_type: ${{ parameters.model_type }}

.azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml:

pr: none
trigger:
  branches:
   include:
     - development
  paths:
    include:
      - .azure-pipelines/*
      - mlops/common/*
      - mlops/named_entity_recognition/*
      - flows/named_entity_recognition/*
      - model/named_entity_recognition/*

pool:
  vmImage: ubuntu-latest


variables:
- group: mlops_platform_dev_vg

parameters:
 - name: env_name
   displayName: "Execution Environment"
   default: "pr"
 - name: model_type
   displayName: "model type"
   default: "named_entity_recognition"

stages:
  - template: ../templates/variables_template.yml
    parameters:
      env_name: ${{parameters.env_name}}
      model_type: ${{parameters.model_type}}
  - template: ./platform_pr_dev_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
      model_type: ${{ parameters.model_type }}

.azure-pipelines/pr_to_development.yml:

trigger: none
pr:
  branches:
   include:
     - development
  paths:
    include:
      - flows/*
      - mlops/*
      - .azure-pipelines/*

pool:
  vmImage: ubuntu-latest

variables:
- group: MLOps-DEV-VG-pf

stages:
    - stage: build
      displayName: build_validation
      jobs:
        - template: build_validation_pipeline.yml

    - stage: execute
      displayName: execute_prompt_evaluation
      jobs:
      - job: execute_summarize_evaluation
        steps:
        - script: |
            python -m pip install --upgrade pip
            pip install -r .azure-pipelines/requirements/evaluation_prompt_requirements.txt
          displayName: "Load Python Dependencies"
        - script: |
            python -m mlops.create_connection
          env:
            CONNECTION_NAME: azure_open_ai_connection
            API_KEY: $(API_KEY)
            API_BASE: $(API_BASE)
            API_VERSION: 2023-03-15-preview
            API_TYPE: azure
          displayName: "Initialize PF Connection"
        - script: |
            python -m mlops.evaluate_basic_with_llm
          displayName: "Initialize PF Connection"

Updated platform_pr_dev_workflow.yml with integration test name
  .github/workflows/platform_pr_dev_workflow.yml
Due: none

Rename integration_end_to_end_named_entity_recognition_test.py to integration_end_to_end_test_script.py
  tests/integration_end_to_end_test_script.py
Due: .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml

Updated with comment for build id platform_pr_dev_workflow.yml
  .github/workflows/platform_pr_dev_workflow.yml
Due: none

testing integration_end_to_end_test_script.py
  tests/integration_end_to_end_test_script.py
Due: .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml

testing argparse integration_end_to_end_test_script.py
  tests/integration_end_to_end_test_script.py
Due: .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml

Added evaluation to pr yaml file platform_pr_dev_workflow.yml
  .github/workflows/platform_pr_dev_workflow.yml
Due: none

Deleted tests/integration_end_to_end_test_script.py
  tests/integration_end_to_end_test_script.py
Due: .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml

for debugging
  mlops/local_prompt_pipeline.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

Update platform_pr_dev_workflow.yml
  .github/workflows/platform_pr_dev_workflow.yml
Due: none

debugging local_prompt_pipeline.py
  mlops/local_prompt_pipeline.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

debug run_id platform_pr_dev_workflow.yml
  .github/workflows/platform_pr_dev_workflow.yml
Due: none

updated debug step platform_pr_dev_workflow.yml
  .github/workflows/platform_pr_dev_workflow.yml
Due: none

debug run_id.txt local_prompt_pipeline.py
  mlops/local_prompt_pipeline.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

debug platform_pr_dev_workflow.yml
  .github/workflows/platform_pr_dev_workflow.yml
Due: none

Updated debug local_prompt_pipeline.py
  mlops/local_prompt_pipeline.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

whitespace local_prompt_pipeline.py
  mlops/local_prompt_pipeline.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

Added promptflow evaluation step with lookup of run_id to platform_pr_dev_workflow.yml
  .github/workflows/platform_pr_dev_workflow.yml
Due: none

Added workflow_dispatch for testing named_entity_recognition_ci_dev_workflow.yml
  .github/workflows/named_entity_recognition_ci_dev_workflow.yml
Due: none

debug local_prompt_pipeline.py
  mlops/local_prompt_pipeline.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

test platform_pr_dev_workflow.yml
  .github/workflows/platform_pr_dev_workflow.yml
Due: none

clean-up platform_pr_dev_workflow.yml
  .github/workflows/platform_pr_dev_workflow.yml
Due: none

clean-up local_prompt_pipeline.py
  mlops/local_prompt_pipeline.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

manual trigger ci test named_entity_recognition_ci_dev_workflow.yml
  .github/workflows/named_entity_recognition_ci_dev_workflow.yml
Due: none

test manually ci named_entity_recognition_ci_dev_workflow.yml
  .github/workflows/named_entity_recognition_ci_dev_workflow.yml
Due: none

Update to push for feature branch ci named_entity_recognition_ci_dev_workflow.yml
  .github/workflows/named_entity_recognition_ci_dev_workflow.yml
Due: none

Added the vm_size to standard register_model.py
  mlops/common/deployment/register_model.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

Updated with vm_size platform_ci_dev_workflow.yml
  .github/workflows/platform_ci_dev_workflow.yml
Due: none

added arg parser for vm_size param register_model.py
  mlops/common/deployment/register_model.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

clean-up vm_size platform_ci_dev_workflow.yml
  .github/workflows/platform_ci_dev_workflow.yml
Due: none

clean-up vm_size register_model.py
  mlops/common/deployment/register_model.py
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

Updated with Standard size Standard_DS3_v2 deployment_config.json
  mlops/named_entity_recognition/configs/deployment_config.json
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

Update deployment_config.json to Standard_DS2_v2
  mlops/named_entity_recognition/configs/deployment_config.json
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

Updated for Standard_D2a_v4 deployment_config.json
  mlops/named_entity_recognition/configs/deployment_config.json
Due: .azure-pipelines/ci_to_development.yml, .azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/pr_to_development.yml

Added build-docker job platform_ci_dev_workflow.yml
  .github/workflows/platform_ci_dev_workflow.yml
Due: none
